Random_CSV_to_JSON/CSV-Generator.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1741218227549,
    "description" : "",
    "identifier" : "CSV-Generator",
    "lastModifiedTimestamp" : 1741218227549,
    "name" : "CSV Generator",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d8353149-91db-3cbb-baea-b25412b5cce0",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "975fc9ad-9176-3954-87b4-1d3162b4e555",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4eaf1982-71a0-3c53-b23d-eb9de3cbc62d",
        "name" : "ExtractText",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4eaf1982-71a0-3c53-b23d-eb9de3cbc62d",
        "name" : "ExtractText",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d772b777-83d8-3381-8102-d6a6080f3d89",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e247ce72-1cd6-331d-8578-31d0849e9c54",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e247ce72-1cd6-331d-8578-31d0849e9c54",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "104d7430-7ccb-36b6-9c49-aab2a56bb274",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5f01957f-9088-3c24-94e3-e5cfb40f9ff5",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "9a5f03fa-7ea1-3751-b0e4-d7931651c17e",
        "name" : "Flowfile Output",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b7f05afe-35c3-3588-af42-713cce0afff0",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d8353149-91db-3cbb-baea-b25412b5cce0",
        "name" : "ReplaceText",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "CSV to JSON",
    "outputPorts" : [ {
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9a5f03fa-7ea1-3751-b0e4-d7931651c17e",
      "name" : "Flowfile Output",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : 200.0,
        "y" : 496.0
      },
      "scheduledState" : "ENABLED",
      "type" : "OUTPUT_PORT"
    } ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e247ce72-1cd6-331d-8578-31d0849e9c54",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ReplaceText",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -464.0,
        "y" : 80.0
      },
      "properties" : {
        "Regular Expression" : "(?s)(^.*$)",
        "Replacement Value" : "a,b,c,d",
        "Evaluation Mode" : "Line-by-Line",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Text to Prepend" : {
          "displayName" : "Text to Prepend",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Prepend",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        },
        "Text to Append" : {
          "displayName" : "Text to Append",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Append",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5f01957f-9088-3c24-94e3-e5cfb40f9ff5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -464.0,
        "y" : -112.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "1B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "true",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "60 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4eaf1982-71a0-3c53-b23d-eb9de3cbc62d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExtractText",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -464.0,
        "y" : 256.0
      },
      "properties" : {
        "Enable Unicode Predefined Character Classes" : "false",
        "Permit Whitespace and Comments in Pattern" : "false",
        "Enable Unicode-aware Case Folding" : "false",
        "Enable named group support" : "false",
        "csv" : "(.+),(.+),(.+),(.+)",
        "Enable DOTALL Mode" : "false",
        "Enable Unix Lines Mode" : "false",
        "Maximum Buffer Size" : "1 MB",
        "Enable Canonical Equivalence" : "false",
        "Enable Case-insensitive Matching" : "false",
        "Enable Multiline Mode" : "false",
        "Enable repeating capture group" : "false",
        "Maximum Capture Group Length" : "1024",
        "Enable Literal Parsing of the Pattern" : "false",
        "Character Set" : "UTF-8",
        "Include Capture Group 0" : "true"
      },
      "propertyDescriptors" : {
        "Enable Unicode Predefined Character Classes" : {
          "displayName" : "Enable Unicode Predefined Character Classes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Enable Unicode Predefined Character Classes",
          "sensitive" : false
        },
        "Permit Whitespace and Comments in Pattern" : {
          "displayName" : "Permit Whitespace and Comments in Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permit Whitespace and Comments in Pattern",
          "sensitive" : false
        },
        "Enable Unicode-aware Case Folding" : {
          "displayName" : "Enable Unicode-aware Case Folding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Enable Unicode-aware Case Folding",
          "sensitive" : false
        },
        "Enable named group support" : {
          "displayName" : "Enable named group support",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Enable named group support",
          "sensitive" : false
        },
        "csv" : {
          "displayName" : "csv",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "csv",
          "sensitive" : false
        },
        "Enable DOTALL Mode" : {
          "displayName" : "Enable DOTALL Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Enable DOTALL Mode",
          "sensitive" : false
        },
        "Enable Unix Lines Mode" : {
          "displayName" : "Enable Unix Lines Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Enable Unix Lines Mode",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Enable Canonical Equivalence" : {
          "displayName" : "Enable Canonical Equivalence",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Enable Canonical Equivalence",
          "sensitive" : false
        },
        "Enable Case-insensitive Matching" : {
          "displayName" : "Enable Case-insensitive Matching",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Enable Case-insensitive Matching",
          "sensitive" : false
        },
        "Enable Multiline Mode" : {
          "displayName" : "Enable Multiline Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Enable Multiline Mode",
          "sensitive" : false
        },
        "Enable repeating capture group" : {
          "displayName" : "Enable repeating capture group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Enable repeating capture group",
          "sensitive" : false
        },
        "Maximum Capture Group Length" : {
          "displayName" : "Maximum Capture Group Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Capture Group Length",
          "sensitive" : false
        },
        "Enable Literal Parsing of the Pattern" : {
          "displayName" : "Enable Literal Parsing of the Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Enable Literal Parsing of the Pattern",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Include Capture Group 0" : {
          "displayName" : "Include Capture Group 0",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Capture Group 0",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExtractText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d8353149-91db-3cbb-baea-b25412b5cce0",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ReplaceText",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 144.0,
        "y" : 256.0
      },
      "properties" : {
        "Regular Expression" : "(?s)(^.*$)",
        "Replacement Value" : "{\n\t\"field1\": \"${csv.1}\",\n\t\"field2\": \"${csv.2}\",\n\t\"field3\": \"${csv.3}\",\n\t\"field4\": \"${csv.4}\"\n}",
        "Evaluation Mode" : "Line-by-Line",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Text to Prepend" : {
          "displayName" : "Text to Prepend",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Prepend",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        },
        "Text to Append" : {
          "displayName" : "Text to Append",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Append",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "6f05b07c-1c80-4987-b993-af2f14282ec3",
    "flowIdentifier" : "CSV-Generator",
    "timestamp" : 0
  }
}