jsonValidators/JsonValidator.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1741302180160,
    "description" : "Validates JSON File",
    "identifier" : "JsonValidator",
    "lastModifiedTimestamp" : 1741302180160,
    "name" : "JsonValidator",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a56a714a-93ea-390c-9487-2a42d1db62e0",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "59df637a-8cfe-332a-8e3d-bdf945c99a17",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f48379fb-d16c-306e-8805-81c55025cbaa",
        "name" : "ValidateJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d3dfb161-7a0b-3986-bf87-8ab1824f3da1",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dc45cc65-07a7-3f6b-8371-16b89aff2ec5",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "invalid" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f48379fb-d16c-306e-8805-81c55025cbaa",
        "name" : "ValidateJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f1ca4b23-4fb6-38c6-935c-5d162e4f95c2",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "60694ad4-b252-39b8-bb26-b0a0fce71a64",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "valid" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f48379fb-d16c-306e-8805-81c55025cbaa",
        "name" : "ValidateJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f48379fb-d16c-306e-8805-81c55025cbaa",
        "name" : "ValidateJson",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0ff43d23-20cc-3afd-bf4e-9c018f408e74",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "20ae95d6-2eac-328c-b826-3c44230ff713",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d3dfb161-7a0b-3986-bf87-8ab1824f3da1",
      "position" : {
        "x" : 213.0,
        "y" : 246.5
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a56a714a-93ea-390c-9487-2a42d1db62e0",
      "position" : {
        "x" : -304.0,
        "y" : 209.5
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f1ca4b23-4fb6-38c6-935c-5d162e4f95c2",
      "position" : {
        "x" : 774.0,
        "y" : 287.5
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "JSON Validator",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "20ae95d6-2eac-328c-b826-3c44230ff713",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 240.0,
        "y" : -440.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "generate-ff-custom-text" : "{\n \"meta\": {\n  \"limit\": 100,\n  \"offset\": 0,\n  \"total_count\": 100\n },\n \"objects\": [\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Maine\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"413 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.collins.senate.gov/contact\",\n    \"office\": \"413 Dirksen Senate Office Building\",\n    \"rss_url\": \"http://www.collins.senate.gov/public/?a=rss.feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"C001035\",\n    \"birthday\": \"1952-12-07\",\n    \"cspanid\": 45738,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Susan\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Collins\",\n    \"link\": \"https://www.govtrack.us/congress/members/susan_collins/300025\",\n    \"middlename\": \"M.\",\n    \"name\": \"Sen. Susan Collins [R-ME]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00000491\",\n    \"pvsid\": null,\n    \"sortname\": \"Collins, Susan (Sen.) [R-ME]\",\n    \"twitterid\": \"SenatorCollins\",\n    \"youtubeid\": \"SenatorSusanCollins\"\n   },\n   \"phone\": \"202-224-2523\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"ME\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.collins.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Texas\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"517 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.cornyn.senate.gov/contact\",\n    \"office\": \"517 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.cornyn.senate.gov/public/?a=rss.feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"C001056\",\n    \"birthday\": \"1952-02-02\",\n    \"cspanid\": 93131,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"John\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Cornyn\",\n    \"link\": \"https://www.govtrack.us/congress/members/john_cornyn/300027\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. John Cornyn [R-TX]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00024852\",\n    \"pvsid\": null,\n    \"sortname\": \"Cornyn, John (Sen.) [R-TX]\",\n    \"twitterid\": \"JohnCornyn\",\n    \"youtubeid\": \"senjohncornyn\"\n   },\n   \"phone\": \"202-224-2934\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"TX\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.cornyn.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Illinois\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"711 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.durbin.senate.gov/contact/\",\n    \"office\": \"711 Hart Senate Office Building\",\n    \"rss_url\": \"http://durbin.senate.gov/public/index.cfm/rss/feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"D000563\",\n    \"birthday\": \"1944-11-21\",\n    \"cspanid\": 6741,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Richard\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Durbin\",\n    \"link\": \"https://www.govtrack.us/congress/members/richard_durbin/300038\",\n    \"middlename\": \"J.\",\n    \"name\": \"Sen. Richard Durbin [D-IL]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00004981\",\n    \"pvsid\": null,\n    \"sortname\": \"Durbin, Richard (Sen.) [D-IL]\",\n    \"twitterid\": \"SenatorDurbin\",\n    \"youtubeid\": \"SenatorDurbin\"\n   },\n   \"phone\": \"202-224-2152\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"IL\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.durbin.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for South Carolina\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"211 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.lgraham.senate.gov/public/index.cfm/e-mail-senator-graham\",\n    \"office\": \"211 Russell Senate Office Building\",\n    \"rss_url\": \"http://www.lgraham.senate.gov/public/index.cfm?FuseAction=Rss.Feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"G000359\",\n    \"birthday\": \"1955-07-09\",\n    \"cspanid\": 36782,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Lindsey\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Graham\",\n    \"link\": \"https://www.govtrack.us/congress/members/lindsey_graham/300047\",\n    \"middlename\": \"O.\",\n    \"name\": \"Sen. Lindsey Graham [R-SC]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00009975\",\n    \"pvsid\": null,\n    \"sortname\": \"Graham, Lindsey (Sen.) [R-SC]\",\n    \"twitterid\": \"GrahamBlog\",\n    \"youtubeid\": \"USSenLindseyGraham\"\n   },\n   \"phone\": \"202-224-5972\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"SC\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.lgraham.senate.gov/public\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Kentucky\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"317 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.mcconnell.senate.gov/public/index.cfm?p=contact\",\n    \"office\": \"317 Russell Senate Office Building\",\n    \"rss_url\": \"http://www.mcconnell.senate.gov/public/?a=rss.feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"M000355\",\n    \"birthday\": \"1942-02-20\",\n    \"cspanid\": 2351,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Mitch\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"McConnell\",\n    \"link\": \"https://www.govtrack.us/congress/members/mitch_mcconnell/300072\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Mitch McConnell [R-KY]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00003389\",\n    \"pvsid\": null,\n    \"sortname\": \"McConnell, Mitch (Sen.) [R-KY]\",\n    \"twitterid\": \"McConnellPress\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-2541\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"KY\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.mcconnell.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Oregon\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"531 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.merkley.senate.gov/contact/\",\n    \"office\": \"531 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.merkley.senate.gov/rss/\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"M001176\",\n    \"birthday\": \"1956-10-24\",\n    \"cspanid\": 1029842,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Jeff\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Merkley\",\n    \"link\": \"https://www.govtrack.us/congress/members/jeff_merkley/412325\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Jeff Merkley [D-OR]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00029303\",\n    \"pvsid\": null,\n    \"sortname\": \"Merkley, Jeff (Sen.) [D-OR]\",\n    \"twitterid\": \"SenJeffMerkley\",\n    \"youtubeid\": \"SenatorJeffMerkley\"\n   },\n   \"phone\": \"202-224-3753\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"OR\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.merkley.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Rhode Island\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"728 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.reed.senate.gov/contact/\",\n    \"office\": \"728 Hart Senate Office Building\",\n    \"rss_url\": \"https://www.reed.senate.gov//rss/feeds/?type=all\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"R000122\",\n    \"birthday\": \"1949-11-12\",\n    \"cspanid\": 24239,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"John\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Reed\",\n    \"link\": \"https://www.govtrack.us/congress/members/john_reed/300081\",\n    \"middlename\": \"F.\",\n    \"name\": \"Sen. John F. “Jack” Reed [D-RI]\",\n    \"namemod\": \"\",\n    \"nickname\": \"Jack\",\n    \"osid\": \"N00000362\",\n    \"pvsid\": null,\n    \"sortname\": \"Reed, John F. “Jack” (Sen.) [D-RI]\",\n    \"twitterid\": \"SenJackReed\",\n    \"youtubeid\": \"SenatorReed\"\n   },\n   \"phone\": \"202-224-4642\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"RI\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.reed.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Idaho\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"483 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.risch.senate.gov/public/index.cfm?p=Email\",\n    \"office\": \"483 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"R000584\",\n    \"birthday\": \"1943-05-03\",\n    \"cspanid\": 1020034,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"James\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Risch\",\n    \"link\": \"https://www.govtrack.us/congress/members/james_risch/412322\",\n    \"middlename\": \"E.\",\n    \"name\": \"Sen. James Risch [R-ID]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00029441\",\n    \"pvsid\": null,\n    \"sortname\": \"Risch, James (Sen.) [R-ID]\",\n    \"twitterid\": \"SenatorRisch\",\n    \"youtubeid\": \"SenatorJamesRisch\"\n   },\n   \"phone\": \"202-224-2752\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"ID\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.risch.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for New Hampshire\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"506 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.shaheen.senate.gov/contact/contact-jeanne\",\n    \"office\": \"506 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.shaheen.senate.gov/rss/\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"S001181\",\n    \"birthday\": \"1947-01-28\",\n    \"cspanid\": 22850,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Jeanne\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Shaheen\",\n    \"link\": \"https://www.govtrack.us/congress/members/jeanne_shaheen/412323\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Jeanne Shaheen [D-NH]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00024790\",\n    \"pvsid\": null,\n    \"sortname\": \"Shaheen, Jeanne (Sen.) [D-NH]\",\n    \"twitterid\": \"SenatorShaheen\",\n    \"youtubeid\": \"senatorshaheen\"\n   },\n   \"phone\": \"202-224-2841\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"NH\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.shaheen.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Virginia\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"703 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.warner.senate.gov/public/index.cfm?p=Contact\",\n    \"office\": \"703 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.warner.senate.gov/public/?a=rss.feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"W000805\",\n    \"birthday\": \"1954-12-15\",\n    \"cspanid\": 7630,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Mark\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Warner\",\n    \"link\": \"https://www.govtrack.us/congress/members/mark_warner/412321\",\n    \"middlename\": \"R.\",\n    \"name\": \"Sen. Mark Warner [D-VA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00002097\",\n    \"pvsid\": null,\n    \"sortname\": \"Warner, Mark (Sen.) [D-VA]\",\n    \"twitterid\": \"MarkWarner\",\n    \"youtubeid\": \"SenatorMarkWarner\"\n   },\n   \"phone\": \"202-224-2023\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"VA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.warner.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Delaware\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"218 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.coons.senate.gov/contact\",\n    \"office\": \"218 Russell Senate Office Building\",\n    \"rss_url\": \"http://www.coons.senate.gov/rss/feeds/?type=all\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"C001088\",\n    \"birthday\": \"1963-09-09\",\n    \"cspanid\": 9269028,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Christopher\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Coons\",\n    \"link\": \"https://www.govtrack.us/congress/members/christopher_coons/412390\",\n    \"middlename\": \"Andrew\",\n    \"name\": \"Sen. Christopher Coons [D-DE]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00031820\",\n    \"pvsid\": null,\n    \"sortname\": \"Coons, Christopher (Sen.) [D-DE]\",\n    \"twitterid\": \"ChrisCoons\",\n    \"youtubeid\": \"senatorchriscoons\"\n   },\n   \"phone\": \"202-224-5042\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"DE\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.coons.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for West Virginia\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"170 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.capito.senate.gov/contact/contact-shelley\",\n    \"office\": \"170 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"C001047\",\n    \"birthday\": \"1953-11-26\",\n    \"cspanid\": 83737,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Shelley\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Capito\",\n    \"link\": \"https://www.govtrack.us/congress/members/shelley_capito/400061\",\n    \"middlename\": \"Moore\",\n    \"name\": \"Sen. Shelley Moore Capito [R-WV]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00009771\",\n    \"pvsid\": null,\n    \"sortname\": \"Capito, Shelley (Sen.) [R-WV]\",\n    \"twitterid\": \"SenCapito\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-6472\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"WV\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.capito.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Louisiana\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"455 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.cassidy.senate.gov/contact\",\n    \"office\": \"455 Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"C001075\",\n    \"birthday\": \"1957-09-28\",\n    \"cspanid\": 1030546,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Bill\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Cassidy\",\n    \"link\": \"https://www.govtrack.us/congress/members/bill_cassidy/412269\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Bill Cassidy [R-LA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00030245\",\n    \"pvsid\": null,\n    \"sortname\": \"Cassidy, Bill (Sen.) [R-LA]\",\n    \"twitterid\": \"SenBillCassidy\",\n    \"youtubeid\": \"SenatorBillCassidy\"\n   },\n   \"phone\": \"202-224-5824\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"LA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.cassidy.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for New Mexico\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"498 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.lujan.senate.gov/contact/\",\n    \"office\": \"498 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"L000570\",\n    \"birthday\": \"1972-06-07\",\n    \"cspanid\": 1031351,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Ben\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Luján\",\n    \"link\": \"https://www.govtrack.us/congress/members/ben_lujan/412293\",\n    \"middlename\": \"Ray\",\n    \"name\": \"Sen. Ben Ray Luján [D-NM]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00029562\",\n    \"pvsid\": null,\n    \"sortname\": \"Luján, Ben (Sen.) [D-NM]\",\n    \"twitterid\": \"SenatorLujan\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-6621\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"NM\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.lujan.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Massachusetts\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"255 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.markey.senate.gov/contact\",\n    \"office\": \"255 Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"M000133\",\n    \"birthday\": \"1946-07-11\",\n    \"cspanid\": 260,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Edward\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Markey\",\n    \"link\": \"https://www.govtrack.us/congress/members/edward_markey/400253\",\n    \"middlename\": \"J.\",\n    \"name\": \"Sen. Edward “Ed” Markey [D-MA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"Ed\",\n    \"osid\": \"N00000270\",\n    \"pvsid\": null,\n    \"sortname\": \"Markey, Edward “Ed” (Sen.) [D-MA]\",\n    \"twitterid\": \"SenMarkey\",\n    \"youtubeid\": \"RepMarkey\"\n   },\n   \"phone\": \"202-224-2742\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"MA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.markey.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Michigan\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"724 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.peters.senate.gov/contact/email-gary\",\n    \"office\": \"724 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"P000595\",\n    \"birthday\": \"1958-12-01\",\n    \"cspanid\": 50199,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Gary\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Peters\",\n    \"link\": \"https://www.govtrack.us/congress/members/gary_peters/412305\",\n    \"middlename\": \"C.\",\n    \"name\": \"Sen. Gary Peters [D-MI]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00029277\",\n    \"pvsid\": null,\n    \"sortname\": \"Peters, Gary (Sen.) [D-MI]\",\n    \"twitterid\": \"SenGaryPeters\",\n    \"youtubeid\": \"RepGaryPeters\"\n   },\n   \"phone\": \"202-224-6221\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"MI\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.peters.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Arkansas\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"326 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.cotton.senate.gov/contact/contact-tom\",\n    \"office\": \"326 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"C001095\",\n    \"birthday\": \"1977-05-13\",\n    \"cspanid\": 63928,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Tom\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Cotton\",\n    \"link\": \"https://www.govtrack.us/congress/members/tom_cotton/412508\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Tom Cotton [R-AR]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00033363\",\n    \"pvsid\": null,\n    \"sortname\": \"Cotton, Tom (Sen.) [R-AR]\",\n    \"twitterid\": \"SenTomCotton\",\n    \"youtubeid\": \"RepTomCotton\"\n   },\n   \"phone\": \"202-224-2353\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"AR\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.cotton.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Montana\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"320 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.daines.senate.gov/connect/email-steve\",\n    \"office\": \"320 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"D000618\",\n    \"birthday\": \"1962-08-20\",\n    \"cspanid\": 1034037,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Steve\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Daines\",\n    \"link\": \"https://www.govtrack.us/congress/members/steve_daines/412549\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Steve Daines [R-MT]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00033054\",\n    \"pvsid\": null,\n    \"sortname\": \"Daines, Steve (Sen.) [R-MT]\",\n    \"twitterid\": \"SteveDaines\",\n    \"youtubeid\": \"SteveDainesMT\"\n   },\n   \"phone\": \"202-224-2651\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"MT\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.daines.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for New Jersey\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"306 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.booker.senate.gov/?p=contact\",\n    \"office\": \"306 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"B001288\",\n    \"birthday\": \"1969-04-27\",\n    \"cspanid\": 84679,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Cory\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Booker\",\n    \"link\": \"https://www.govtrack.us/congress/members/cory_booker/412598\",\n    \"middlename\": \"Anthony\",\n    \"name\": \"Sen. Cory Booker [D-NJ]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00035267\",\n    \"pvsid\": null,\n    \"sortname\": \"Booker, Cory (Sen.) [D-NJ]\",\n    \"twitterid\": \"SenBooker\",\n    \"youtubeid\": \"SenCoryBooker\"\n   },\n   \"phone\": \"202-224-3224\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"NJ\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.booker.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Alaska\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"302 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.sullivan.senate.gov/contact/email\",\n    \"office\": \"302 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"S001198\",\n    \"birthday\": \"1964-11-13\",\n    \"cspanid\": 1023262,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Dan\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Sullivan\",\n    \"link\": \"https://www.govtrack.us/congress/members/dan_sullivan/412665\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Dan Sullivan [R-AK]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00035774\",\n    \"pvsid\": null,\n    \"sortname\": \"Sullivan, Dan (Sen.) [R-AK]\",\n    \"twitterid\": \"SenDanSullivan\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3004\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"AK\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.sullivan.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Iowa\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"260 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.ernst.senate.gov/public/index.cfm/contact\",\n    \"office\": \"260 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"E000295\",\n    \"birthday\": \"1970-07-01\",\n    \"cspanid\": 75342,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Joni\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Ernst\",\n    \"link\": \"https://www.govtrack.us/congress/members/joni_ernst/412667\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Joni Ernst [R-IA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00035483\",\n    \"pvsid\": null,\n    \"sortname\": \"Ernst, Joni (Sen.) [R-IA]\",\n    \"twitterid\": \"SenJoniErnst\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3254\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"IA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.ernst.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for North Carolina\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"113 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.tillis.senate.gov/public/index.cfm/email-me\",\n    \"office\": \"113 Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"T000476\",\n    \"birthday\": \"1960-08-30\",\n    \"cspanid\": 77055,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Thom\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Tillis\",\n    \"link\": \"https://www.govtrack.us/congress/members/thom_tillis/412668\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Thom Tillis [R-NC]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00035492\",\n    \"pvsid\": null,\n    \"sortname\": \"Tillis, Thom (Sen.) [R-NC]\",\n    \"twitterid\": \"SenThomTillis\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-6342\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"NC\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.tillis.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for South Dakota\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"716 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.rounds.senate.gov/contact/email-mike\",\n    \"office\": \"716 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"R000605\",\n    \"birthday\": \"1954-10-24\",\n    \"cspanid\": 78317,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Mike\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Rounds\",\n    \"link\": \"https://www.govtrack.us/congress/members/mike_rounds/412669\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Mike Rounds [R-SD]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00035187\",\n    \"pvsid\": null,\n    \"sortname\": \"Rounds, Mike (Sen.) [R-SD]\",\n    \"twitterid\": \"SenatorRounds\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-5842\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"SD\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.rounds.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Kansas\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"479A Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.marshall.senate.gov/contact/\",\n    \"office\": \"479a Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"M001198\",\n    \"birthday\": \"1960-08-09\",\n    \"cspanid\": 103425,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Roger\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Marshall\",\n    \"link\": \"https://www.govtrack.us/congress/members/roger_marshall/412704\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Roger Marshall [R-KS]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00037034\",\n    \"pvsid\": null,\n    \"sortname\": \"Marshall, Roger (Sen.) [R-KS]\",\n    \"twitterid\": \"SenatorMarshall\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4774\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"KS\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.marshall.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Minnesota\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"720 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.smith.senate.gov/share-your-opinion/\",\n    \"office\": \"720 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"S001203\",\n    \"birthday\": \"1958-03-04\",\n    \"cspanid\": 111313,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Tina\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Smith\",\n    \"link\": \"https://www.govtrack.us/congress/members/tina_smith/412742\",\n    \"middlename\": \"Flint\",\n    \"name\": \"Sen. Tina Smith [D-MN]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00042353\",\n    \"pvsid\": null,\n    \"sortname\": \"Smith, Tina (Sen.) [D-MN]\",\n    \"twitterid\": \"SenTinaSmith\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-5641\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"MN\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.smith.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Mississippi\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"702 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.hydesmith.senate.gov/contact-senator\",\n    \"office\": \"702 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"H001079\",\n    \"birthday\": \"1959-05-10\",\n    \"cspanid\": 113208,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Cindy\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Hyde-Smith\",\n    \"link\": \"https://www.govtrack.us/congress/members/cindy_hyde_smith/412743\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Cindy Hyde-Smith [R-MS]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00043298\",\n    \"pvsid\": null,\n    \"sortname\": \"Hyde-Smith, Cindy (Sen.) [R-MS]\",\n    \"twitterid\": \"SenHydeSmith\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-5054\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"MS\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.hydesmith.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Wyoming\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"127A Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.lummis.senate.gov/contact/contact-form/\",\n    \"office\": \"127a Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"L000571\",\n    \"birthday\": \"1954-09-10\",\n    \"cspanid\": 1031365,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Cynthia\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Lummis\",\n    \"link\": \"https://www.govtrack.us/congress/members/cynthia_lummis/412294\",\n    \"middlename\": \"M.\",\n    \"name\": \"Sen. Cynthia Lummis [R-WY]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00029788\",\n    \"pvsid\": null,\n    \"sortname\": \"Lummis, Cynthia (Sen.) [R-WY]\",\n    \"twitterid\": \"SenLummis\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3424\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"WY\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.lummis.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Alabama\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"455 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.tuberville.senate.gov/contact/contact-form/\",\n    \"office\": \"455 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"T000278\",\n    \"birthday\": \"1954-09-18\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Tommy\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Tuberville\",\n    \"link\": \"https://www.govtrack.us/congress/members/tommy_tuberville/456796\",\n    \"middlename\": \"Hawley\",\n    \"name\": \"Sen. Tommy Tuberville [R-AL]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00044434\",\n    \"pvsid\": null,\n    \"sortname\": \"Tuberville, Tommy (Sen.) [R-AL]\",\n    \"twitterid\": \"SenTuberville\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4124\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"AL\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.tuberville.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Colorado\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"374 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.hickenlooper.senate.gov/contact/\",\n    \"office\": \"374 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"H000273\",\n    \"birthday\": \"1952-02-07\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"John\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Hickenlooper\",\n    \"link\": \"https://www.govtrack.us/congress/members/john_hickenlooper/456797\",\n    \"middlename\": \"Wright\",\n    \"name\": \"Sen. John Hickenlooper [D-CO]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00044206\",\n    \"pvsid\": null,\n    \"sortname\": \"Hickenlooper, John (Sen.) [D-CO]\",\n    \"twitterid\": \"SenatorHick\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-5941\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"CO\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.hickenlooper.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Tennessee\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"251 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.hagerty.senate.gov/email-me/\",\n    \"office\": \"251 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"H000601\",\n    \"birthday\": \"1959-08-14\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Bill\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Hagerty\",\n    \"link\": \"https://www.govtrack.us/congress/members/bill_hagerty/456798\",\n    \"middlename\": \"Francis\",\n    \"name\": \"Sen. Bill Hagerty [R-TN]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00045369\",\n    \"pvsid\": null,\n    \"sortname\": \"Hagerty, Bill (Sen.) [R-TN]\",\n    \"twitterid\": \"SenatorHagerty\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4944\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2021-01-03\",\n   \"state\": \"TN\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.hagerty.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    117,\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Georgia\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"303 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.ossoff.senate.gov/contact-us/\",\n    \"office\": \"303 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"O000174\",\n    \"birthday\": \"1987-02-16\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Jon\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Ossoff\",\n    \"link\": \"https://www.govtrack.us/congress/members/jon_ossoff/456857\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Jon Ossoff [D-GA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00040675\",\n    \"pvsid\": null,\n    \"sortname\": \"Ossoff, Jon (Sen.) [D-GA]\",\n    \"twitterid\": \"SenOssoff\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3521\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2021-01-20\",\n   \"state\": \"GA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.ossoff.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Colorado\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"261 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.bennet.senate.gov/public/index.cfm/contact\",\n    \"office\": \"261 Russell Senate Office Building\",\n    \"rss_url\": \"http://www.bennet.senate.gov/rss/feeds/?type=news\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"B001267\",\n    \"birthday\": \"1964-11-28\",\n    \"cspanid\": 1031622,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Michael\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Bennet\",\n    \"link\": \"https://www.govtrack.us/congress/members/michael_bennet/412330\",\n    \"middlename\": \"F.\",\n    \"name\": \"Sen. Michael Bennet [D-CO]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00030608\",\n    \"pvsid\": null,\n    \"sortname\": \"Bennet, Michael (Sen.) [D-CO]\",\n    \"twitterid\": \"SenatorBennet\",\n    \"youtubeid\": \"SenatorBennet\"\n   },\n   \"phone\": \"202-224-5852\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"CO\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.bennet.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Connecticut\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"503 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.blumenthal.senate.gov/contact/\",\n    \"office\": \"503 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.blumenthal.senate.gov/rss/feeds/?type=all\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"B001277\",\n    \"birthday\": \"1946-02-13\",\n    \"cspanid\": 21799,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Richard\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Blumenthal\",\n    \"link\": \"https://www.govtrack.us/congress/members/richard_blumenthal/412490\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Richard Blumenthal [D-CT]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00031685\",\n    \"pvsid\": null,\n    \"sortname\": \"Blumenthal, Richard (Sen.) [D-CT]\",\n    \"twitterid\": \"SenBlumenthal\",\n    \"youtubeid\": \"SenatorBlumenthal\"\n   },\n   \"phone\": \"202-224-2823\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"CT\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.blumenthal.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Arkansas\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"555 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.boozman.senate.gov/public/index.cfm/contact\",\n    \"office\": \"555 Dirksen Senate Office Building\",\n    \"rss_url\": \"http://www.boozman.senate.gov/public/index.cfm/rss/feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"B001236\",\n    \"birthday\": \"1950-12-10\",\n    \"cspanid\": 92069,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"John\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Boozman\",\n    \"link\": \"https://www.govtrack.us/congress/members/john_boozman/400040\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. John Boozman [R-AR]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00013873\",\n    \"pvsid\": null,\n    \"sortname\": \"Boozman, John (Sen.) [R-AR]\",\n    \"twitterid\": \"JohnBoozman\",\n    \"youtubeid\": \"BoozmanPressOffice\"\n   },\n   \"phone\": \"202-224-4843\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"AR\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.boozman.senate.gov/public\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Idaho\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"239 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.crapo.senate.gov/contact\",\n    \"office\": \"239 Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"C000880\",\n    \"birthday\": \"1951-05-20\",\n    \"cspanid\": 26440,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Michael\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Crapo\",\n    \"link\": \"https://www.govtrack.us/congress/members/michael_crapo/300030\",\n    \"middlename\": \"D.\",\n    \"name\": \"Sen. Michael “Mike” Crapo [R-ID]\",\n    \"namemod\": \"\",\n    \"nickname\": \"Mike\",\n    \"osid\": \"N00006267\",\n    \"pvsid\": null,\n    \"sortname\": \"Crapo, Michael “Mike” (Sen.) [R-ID]\",\n    \"twitterid\": \"MikeCrapo\",\n    \"youtubeid\": \"senatorcrapo\"\n   },\n   \"phone\": \"202-224-6142\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"ID\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.crapo.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Iowa\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"135 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.grassley.senate.gov/contact\",\n    \"office\": \"135 Hart Senate Office Building\",\n    \"rss_url\": \"http://grassley.senate.gov/customcf/rss_feed.cfm\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"G000386\",\n    \"birthday\": \"1933-09-17\",\n    \"cspanid\": 1167,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Charles\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Grassley\",\n    \"link\": \"https://www.govtrack.us/congress/members/charles_grassley/300048\",\n    \"middlename\": \"E.\",\n    \"name\": \"Sen. Charles “Chuck” Grassley [R-IA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"Chuck\",\n    \"osid\": \"N00001758\",\n    \"pvsid\": null,\n    \"sortname\": \"Grassley, Charles “Chuck” (Sen.) [R-IA]\",\n    \"twitterid\": \"ChuckGrassley\",\n    \"youtubeid\": \"senchuckgrassley\"\n   },\n   \"phone\": \"202-224-3744\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"IA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.grassley.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for North Dakota\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"338 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.hoeven.senate.gov/contact/contact-the-senator\",\n    \"office\": \"338 Russell Senate Office Building\",\n    \"rss_url\": \"http://www.hoeven.senate.gov/public/index.cfm/rss/feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"H001061\",\n    \"birthday\": \"1957-03-13\",\n    \"cspanid\": 85233,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"John\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Hoeven\",\n    \"link\": \"https://www.govtrack.us/congress/members/john_hoeven/412494\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. John Hoeven [R-ND]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00031688\",\n    \"pvsid\": null,\n    \"sortname\": \"Hoeven, John (Sen.) [R-ND]\",\n    \"twitterid\": \"SenJohnHoeven\",\n    \"youtubeid\": \"senatorjohnhoevennd\"\n   },\n   \"phone\": \"202-224-2551\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"ND\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.hoeven.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Wisconsin\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"328 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.ronjohnson.senate.gov/public/index.cfm/email-the-senator\",\n    \"office\": \"328 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.ronjohnson.senate.gov/public/index.cfm/rss/feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"J000293\",\n    \"birthday\": \"1955-04-08\",\n    \"cspanid\": 62835,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Ron\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Johnson\",\n    \"link\": \"https://www.govtrack.us/congress/members/ron_johnson/412496\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Ron Johnson [R-WI]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00032546\",\n    \"pvsid\": null,\n    \"sortname\": \"Johnson, Ron (Sen.) [R-WI]\",\n    \"twitterid\": \"SenRonJohnson\",\n    \"youtubeid\": \"SenatorRonJohnson\"\n   },\n   \"phone\": \"202-224-5323\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"WI\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.ronjohnson.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Oklahoma\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"316 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.lankford.senate.gov/contact/email\",\n    \"office\": \"316 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"L000575\",\n    \"birthday\": \"1968-03-04\",\n    \"cspanid\": 1033847,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"James\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Lankford\",\n    \"link\": \"https://www.govtrack.us/congress/members/james_lankford/412464\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. James Lankford [R-OK]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00031129\",\n    \"pvsid\": null,\n    \"sortname\": \"Lankford, James (Sen.) [R-OK]\",\n    \"twitterid\": \"SenatorLankford\",\n    \"youtubeid\": \"SenatorLankford\"\n   },\n   \"phone\": \"202-224-5754\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"OK\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.lankford.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Utah\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"363 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.lee.senate.gov/public/index.cfm/contact\",\n    \"office\": \"363 Russell Senate Office Building\",\n    \"rss_url\": \"http://www.lee.senate.gov/public/index.cfm/rss/feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"L000577\",\n    \"birthday\": \"1971-06-04\",\n    \"cspanid\": 9267977,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Mike\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Lee\",\n    \"link\": \"https://www.govtrack.us/congress/members/mike_lee/412495\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Mike Lee [R-UT]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00031696\",\n    \"pvsid\": null,\n    \"sortname\": \"Lee, Mike (Sen.) [R-UT]\",\n    \"twitterid\": \"SenMikeLee\",\n    \"youtubeid\": \"senatormikelee\"\n   },\n   \"phone\": \"202-224-5444\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"UT\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.lee.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Kansas\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"521 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.moran.senate.gov/public/index.cfm/e-mail-jerry\",\n    \"office\": \"521 Dirksen Senate Office Building\",\n    \"rss_url\": \"http://www.moran.senate.gov/public/index.cfm/rss/feed/\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"M000934\",\n    \"birthday\": \"1954-05-29\",\n    \"cspanid\": 45469,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Jerry\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Moran\",\n    \"link\": \"https://www.govtrack.us/congress/members/jerry_moran/400284\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Jerry Moran [R-KS]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00005282\",\n    \"pvsid\": null,\n    \"sortname\": \"Moran, Jerry (Sen.) [R-KS]\",\n    \"twitterid\": \"JerryMoran\",\n    \"youtubeid\": \"senatorjerrymoran\"\n   },\n   \"phone\": \"202-224-6521\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"KS\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.moran.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Alaska\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"522 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.murkowski.senate.gov/public/index.cfm/contact\",\n    \"office\": \"522 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.murkowski.senate.gov/public/?a=rss.feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"M001153\",\n    \"birthday\": \"1957-05-22\",\n    \"cspanid\": 1004138,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Lisa\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Murkowski\",\n    \"link\": \"https://www.govtrack.us/congress/members/lisa_murkowski/300075\",\n    \"middlename\": \"A.\",\n    \"name\": \"Sen. Lisa Murkowski [R-AK]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00026050\",\n    \"pvsid\": null,\n    \"sortname\": \"Murkowski, Lisa (Sen.) [R-AK]\",\n    \"twitterid\": \"LisaMurkowski\",\n    \"youtubeid\": \"senatormurkowski\"\n   },\n   \"phone\": \"202-224-6665\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"AK\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.murkowski.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Washington\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"154 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.murray.senate.gov/write-to-patty/\",\n    \"office\": \"154 Russell Senate Office Building\",\n    \"rss_url\": \"http://www.murray.senate.gov/public/?a=rss.feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"M001111\",\n    \"birthday\": \"1950-10-11\",\n    \"cspanid\": 25277,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Patty\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Murray\",\n    \"link\": \"https://www.govtrack.us/congress/members/patty_murray/300076\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Patty Murray [D-WA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00007876\",\n    \"pvsid\": null,\n    \"sortname\": \"Murray, Patty (Sen.) [D-WA]\",\n    \"twitterid\": \"PattyMurray\",\n    \"youtubeid\": \"SenatorPattyMurray\"\n   },\n   \"phone\": \"202-224-2621\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"WA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.murray.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Kentucky\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"295 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.paul.senate.gov/connect/email-rand\",\n    \"office\": \"295 Russell Senate Office Building\",\n    \"rss_url\": \"http://paul.senate.gov/rss/?p=news\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"P000603\",\n    \"birthday\": \"1963-01-07\",\n    \"cspanid\": 9265241,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Rand\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Paul\",\n    \"link\": \"https://www.govtrack.us/congress/members/rand_paul/412492\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Rand Paul [R-KY]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00030836\",\n    \"pvsid\": null,\n    \"sortname\": \"Paul, Rand (Sen.) [R-KY]\",\n    \"twitterid\": \"SenRandPaul\",\n    \"youtubeid\": \"SenatorRandPaul\"\n   },\n   \"phone\": \"202-224-4343\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"KY\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.paul.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for New York\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"322 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.schumer.senate.gov/contact/email-chuck\",\n    \"office\": \"322 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"S000148\",\n    \"birthday\": \"1950-11-23\",\n    \"cspanid\": 5929,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Charles\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Schumer\",\n    \"link\": \"https://www.govtrack.us/congress/members/charles_schumer/300087\",\n    \"middlename\": \"E.\",\n    \"name\": \"Sen. Charles “Chuck” Schumer [D-NY]\",\n    \"namemod\": \"\",\n    \"nickname\": \"Chuck\",\n    \"osid\": \"N00001093\",\n    \"pvsid\": null,\n    \"sortname\": \"Schumer, Charles “Chuck” (Sen.) [D-NY]\",\n    \"twitterid\": \"SenSchumer\",\n    \"youtubeid\": \"SenatorSchumer\"\n   },\n   \"phone\": \"202-224-6542\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"NY\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.schumer.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for South Carolina\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"104 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.scott.senate.gov/contact/email-me\",\n    \"office\": \"104 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.scott.senate.gov/rss.xml\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"S001184\",\n    \"birthday\": \"1965-09-19\",\n    \"cspanid\": 623506,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Tim\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Scott\",\n    \"link\": \"https://www.govtrack.us/congress/members/tim_scott/412471\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Tim Scott [R-SC]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00031782\",\n    \"pvsid\": null,\n    \"sortname\": \"Scott, Tim (Sen.) [R-SC]\",\n    \"twitterid\": \"SenatorTimScott\",\n    \"youtubeid\": \"SenatorTimScott\"\n   },\n   \"phone\": \"202-224-6121\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"SC\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.scott.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for South Dakota\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"511 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.thune.senate.gov/public/index.cfm/contact\",\n    \"office\": \"511 Dirksen Senate Office Building\",\n    \"rss_url\": \"http://www.thune.senate.gov/public/index.cfm/rss/feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"T000250\",\n    \"birthday\": \"1961-01-07\",\n    \"cspanid\": 45552,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"John\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Thune\",\n    \"link\": \"https://www.govtrack.us/congress/members/john_thune/400546\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. John Thune [R-SD]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00004572\",\n    \"pvsid\": null,\n    \"sortname\": \"Thune, John (Sen.) [R-SD]\",\n    \"twitterid\": \"SenJohnThune\",\n    \"youtubeid\": \"johnthune\"\n   },\n   \"phone\": \"202-224-2321\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"SD\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.thune.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Maryland\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"730 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.vanhollen.senate.gov/contact/email\",\n    \"office\": \"730 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"V000128\",\n    \"birthday\": \"1959-01-10\",\n    \"cspanid\": 20756,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Chris\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Van Hollen\",\n    \"link\": \"https://www.govtrack.us/congress/members/chris_van_hollen/400415\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Chris Van Hollen [D-MD]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00013820\",\n    \"pvsid\": null,\n    \"sortname\": \"Van Hollen, Chris (Sen.) [D-MD]\",\n    \"twitterid\": \"ChrisVanHollen\",\n    \"youtubeid\": \"RepChrisVanHollen\"\n   },\n   \"phone\": \"202-224-4654\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"MD\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.vanhollen.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Vermont\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"124 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.welch.senate.gov/email-peter/\",\n    \"office\": \"124 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"W000800\",\n    \"birthday\": \"1947-05-02\",\n    \"cspanid\": 1019990,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Peter\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Welch\",\n    \"link\": \"https://www.govtrack.us/congress/members/peter_welch/412239\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Peter Welch [D-VT]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00000515\",\n    \"pvsid\": null,\n    \"sortname\": \"Welch, Peter (Sen.) [D-VT]\",\n    \"twitterid\": \"PeterWelch\",\n    \"youtubeid\": \"reppeterwelch\"\n   },\n   \"phone\": \"202-224-4242\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"VT\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.welch.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Oregon\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"221 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.wyden.senate.gov/contact/\",\n    \"office\": \"221 Dirksen Senate Office Building\",\n    \"rss_url\": \"http://www.wyden.senate.gov/rss/feeds/?type=all&amp;\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"W000779\",\n    \"birthday\": \"1949-05-03\",\n    \"cspanid\": 1962,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Ron\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Wyden\",\n    \"link\": \"https://www.govtrack.us/congress/members/ron_wyden/300100\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Ron Wyden [D-OR]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00007724\",\n    \"pvsid\": null,\n    \"sortname\": \"Wyden, Ron (Sen.) [D-OR]\",\n    \"twitterid\": \"RonWyden\",\n    \"youtubeid\": \"senronwyden\"\n   },\n   \"phone\": \"202-224-5244\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"OR\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.wyden.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Indiana\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"185 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.young.senate.gov/contact\",\n    \"office\": \"185 Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"Y000064\",\n    \"birthday\": \"1972-08-24\",\n    \"cspanid\": 1033743,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Todd\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Young\",\n    \"link\": \"https://www.govtrack.us/congress/members/todd_young/412428\",\n    \"middlename\": \"C.\",\n    \"name\": \"Sen. Todd Young [R-IN]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00030670\",\n    \"pvsid\": null,\n    \"sortname\": \"Young, Todd (Sen.) [R-IN]\",\n    \"twitterid\": \"SenToddYoung\",\n    \"youtubeid\": \"RepToddYoung\"\n   },\n   \"phone\": \"202-224-5623\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"IN\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.young.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Hawaii\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"722 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.schatz.senate.gov/contact\",\n    \"office\": \"722 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"S001194\",\n    \"birthday\": \"1972-10-20\",\n    \"cspanid\": 87784,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Brian\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Schatz\",\n    \"link\": \"https://www.govtrack.us/congress/members/brian_schatz/412507\",\n    \"middlename\": \"Emanuel\",\n    \"name\": \"Sen. Brian Schatz [D-HI]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00028138\",\n    \"pvsid\": null,\n    \"sortname\": \"Schatz, Brian (Sen.) [D-HI]\",\n    \"twitterid\": \"SenBrianSchatz\",\n    \"youtubeid\": \"senbrianschatz\"\n   },\n   \"phone\": \"202-224-3934\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"HI\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.schatz.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Illinois\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"524 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.duckworth.senate.gov/content/contact-senator\",\n    \"office\": \"524 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"D000622\",\n    \"birthday\": \"1968-03-12\",\n    \"cspanid\": 94484,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Tammy\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Duckworth\",\n    \"link\": \"https://www.govtrack.us/congress/members/tammy_duckworth/412533\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Tammy Duckworth [D-IL]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00027860\",\n    \"pvsid\": null,\n    \"sortname\": \"Duckworth, Tammy (Sen.) [D-IL]\",\n    \"twitterid\": \"SenDuckworth\",\n    \"youtubeid\": \"repduckworth\"\n   },\n   \"phone\": \"202-224-2854\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"IL\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.duckworth.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Oklahoma\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"330 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.mullin.senate.gov/contact/\",\n    \"office\": \"330 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"M001190\",\n    \"birthday\": \"1977-07-26\",\n    \"cspanid\": 1034045,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Markwayne\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Mullin\",\n    \"link\": \"https://www.govtrack.us/congress/members/markwayne_mullin/412568\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Markwayne Mullin [R-OK]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00033410\",\n    \"pvsid\": null,\n    \"sortname\": \"Mullin, Markwayne (Sen.) [R-OK]\",\n    \"twitterid\": \"SenMullin\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4721\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"OK\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.mullin.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Louisiana\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"437 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.kennedy.senate.gov/public/email-me\",\n    \"office\": \"437 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"K000393\",\n    \"birthday\": \"1951-11-21\",\n    \"cspanid\": 1011723,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"John\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Kennedy\",\n    \"link\": \"https://www.govtrack.us/congress/members/john_kennedy/412679\",\n    \"middlename\": \"Neely\",\n    \"name\": \"Sen. John Neely Kennedy [R-LA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00026823\",\n    \"pvsid\": null,\n    \"sortname\": \"Kennedy, John Neely (Sen.) [R-LA]\",\n    \"twitterid\": \"SenJohnKennedy\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4623\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"LA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.kennedy.senate.gov/public\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for New Hampshire\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"324 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.hassan.senate.gov/content/contact-senator\",\n    \"office\": \"324 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"H001076\",\n    \"birthday\": \"1958-02-27\",\n    \"cspanid\": 67481,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Margaret\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Hassan\",\n    \"link\": \"https://www.govtrack.us/congress/members/margaret_hassan/412680\",\n    \"middlename\": \"Wood\",\n    \"name\": \"Sen. Margaret “Maggie” Hassan [D-NH]\",\n    \"namemod\": \"\",\n    \"nickname\": \"Maggie\",\n    \"osid\": \"N00038397\",\n    \"pvsid\": null,\n    \"sortname\": \"Hassan, Margaret “Maggie” (Sen.) [D-NH]\",\n    \"twitterid\": \"SenatorHassan\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3324\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"NH\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.hassan.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Nevada\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"520 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.cortezmasto.senate.gov/contact\",\n    \"office\": \"520 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"C001113\",\n    \"birthday\": \"1964-03-29\",\n    \"cspanid\": 105698,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Catherine\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Cortez Masto\",\n    \"link\": \"https://www.govtrack.us/congress/members/catherine_cortez_masto/412681\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Catherine Cortez Masto [D-NV]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00037161\",\n    \"pvsid\": null,\n    \"sortname\": \"Cortez Masto, Catherine (Sen.) [D-NV]\",\n    \"twitterid\": \"SenCortezMasto\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3542\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"NV\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.cortezmasto.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for North Carolina\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"304 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.budd.senate.gov/contact/\",\n    \"office\": \"304 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"B001305\",\n    \"birthday\": \"1971-10-21\",\n    \"cspanid\": 103513,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Ted\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Budd\",\n    \"link\": \"https://www.govtrack.us/congress/members/ted_budd/412712\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Ted Budd [R-NC]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00039551\",\n    \"pvsid\": null,\n    \"sortname\": \"Budd, Ted (Sen.) [R-NC]\",\n    \"twitterid\": \"RepTedBudd\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3154\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"NC\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.budd.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Arizona\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"516 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.kelly.senate.gov/contact/contact-form/\",\n    \"office\": \"516 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"K000377\",\n    \"birthday\": \"1964-02-21\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Mark\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Kelly\",\n    \"link\": \"https://www.govtrack.us/congress/members/mark_kelly/456794\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Mark Kelly [D-AZ]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00044223\",\n    \"pvsid\": null,\n    \"sortname\": \"Kelly, Mark (Sen.) [D-AZ]\",\n    \"twitterid\": \"SenMarkKelly\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-2235\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"AZ\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.kelly.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for California\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"331 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.padilla.senate.gov/contact/\",\n    \"office\": \"331 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"P000145\",\n    \"birthday\": \"1973-03-22\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Alejandro\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Padilla\",\n    \"link\": \"https://www.govtrack.us/congress/members/alejandro_padilla/456856\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Alejandro “Alex” Padilla [D-CA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"Alex\",\n    \"osid\": \"N00047888\",\n    \"pvsid\": null,\n    \"sortname\": \"Padilla, Alejandro “Alex” (Sen.) [D-CA]\",\n    \"twitterid\": \"SenAlexPadilla\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3553\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"CA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.padilla.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Georgia\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"416 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.warnock.senate.gov/contact/\",\n    \"office\": \"416 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"W000790\",\n    \"birthday\": \"1969-07-23\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Raphael\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Warnock\",\n    \"link\": \"https://www.govtrack.us/congress/members/raphael_warnock/456858\",\n    \"middlename\": \"Gamaliel\",\n    \"name\": \"Sen. Raphael Warnock [D-GA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00046489\",\n    \"pvsid\": null,\n    \"sortname\": \"Warnock, Raphael (Sen.) [D-GA]\",\n    \"twitterid\": \"SenatorWarnock\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3643\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"GA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.warnock.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Alabama\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"502 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.britt.senate.gov/contact/\",\n    \"office\": \"502 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"B001319\",\n    \"birthday\": \"1982-02-02\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Katie\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Britt\",\n    \"link\": \"https://www.govtrack.us/congress/members/katie_britt/456874\",\n    \"middlename\": \"Elizabeth\",\n    \"name\": \"Sen. Katie Britt [R-AL]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00048812\",\n    \"pvsid\": null,\n    \"sortname\": \"Britt, Katie (Sen.) [R-AL]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-5744\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"AL\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.britt.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Missouri\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"387 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.schmitt.senate.gov/contact/\",\n    \"office\": \"387 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"S001227\",\n    \"birthday\": \"1975-06-20\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Eric\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Schmitt\",\n    \"link\": \"https://www.govtrack.us/congress/members/eric_schmitt/456875\",\n    \"middlename\": \"Stephen\",\n    \"name\": \"Sen. Eric Schmitt [R-MO]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00048414\",\n    \"pvsid\": null,\n    \"sortname\": \"Schmitt, Eric (Sen.) [R-MO]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-5721\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"MO\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.schmitt.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Pennsylvania\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"142 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.fetterman.senate.gov/contact/\",\n    \"office\": \"142 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"F000479\",\n    \"birthday\": \"1969-08-15\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"John\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Fetterman\",\n    \"link\": \"https://www.govtrack.us/congress/members/john_fetterman/456877\",\n    \"middlename\": \"Karl\",\n    \"name\": \"Sen. John Fetterman [D-PA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00038201\",\n    \"pvsid\": null,\n    \"sortname\": \"Fetterman, John (Sen.) [D-PA]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4254\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2023-01-03\",\n   \"state\": \"PA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.fetterman.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    118,\n    119\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Nebraska\",\n   \"district\": null,\n   \"enddate\": \"2027-01-03\",\n   \"extra\": {\n    \"address\": \"139 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.ricketts.senate.gov/contact/\",\n    \"how\": \"special-election\",\n    \"office\": \"139 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"R000618\",\n    \"birthday\": \"1964-08-19\",\n    \"cspanid\": 61233,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Pete\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Ricketts\",\n    \"link\": \"https://www.govtrack.us/congress/members/pete_ricketts/456952\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Pete Ricketts [R-NE]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00027695\",\n    \"pvsid\": null,\n    \"sortname\": \"Ricketts, Pete (Sen.) [R-NE]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4224\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class2\",\n   \"senator_class_label\": \"Class 2\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2024-11-05\",\n   \"state\": \"NE\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.ricketts.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Washington\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"511 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.cantwell.senate.gov/public/index.cfm/email-maria\",\n    \"office\": \"511 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.cantwell.senate.gov/public/index.cfm/rss/feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"C000127\",\n    \"birthday\": \"1958-10-13\",\n    \"cspanid\": 26137,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Maria\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Cantwell\",\n    \"link\": \"https://www.govtrack.us/congress/members/maria_cantwell/300018\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Maria Cantwell [D-WA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00007836\",\n    \"pvsid\": null,\n    \"sortname\": \"Cantwell, Maria (Sen.) [D-WA]\",\n    \"twitterid\": \"SenatorCantwell\",\n    \"youtubeid\": \"SenatorCantwell\"\n   },\n   \"phone\": \"202-224-3441\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"WA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.cantwell.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Minnesota\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"425 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.klobuchar.senate.gov/public/index.cfm/contact\",\n    \"office\": \"425 Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"K000367\",\n    \"birthday\": \"1960-05-25\",\n    \"cspanid\": 83701,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Amy\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Klobuchar\",\n    \"link\": \"https://www.govtrack.us/congress/members/amy_klobuchar/412242\",\n    \"middlename\": \"Jean\",\n    \"name\": \"Sen. Amy Klobuchar [D-MN]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00027500\",\n    \"pvsid\": null,\n    \"sortname\": \"Klobuchar, Amy (Sen.) [D-MN]\",\n    \"twitterid\": \"SenAmyKlobuchar\",\n    \"youtubeid\": \"senatorklobuchar\"\n   },\n   \"phone\": \"202-224-3244\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"MN\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.klobuchar.senate.gov\"\n  },\n  {\n   \"caucus\": \"Democrat\",\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Vermont\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"332 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.sanders.senate.gov/contact/\",\n    \"office\": \"332 Dirksen Senate Office Building\",\n    \"rss_url\": \"http://www.sanders.senate.gov/rss/\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Independent\",\n   \"person\": {\n    \"bioguideid\": \"S000033\",\n    \"birthday\": \"1941-09-08\",\n    \"cspanid\": 994,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Bernard\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Sanders\",\n    \"link\": \"https://www.govtrack.us/congress/members/bernard_sanders/400357\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Bernard “Bernie” Sanders [I-VT]\",\n    \"namemod\": \"\",\n    \"nickname\": \"Bernie\",\n    \"osid\": \"N00000528\",\n    \"pvsid\": null,\n    \"sortname\": \"Sanders, Bernard “Bernie” (Sen.) [I-VT]\",\n    \"twitterid\": \"SenSanders\",\n    \"youtubeid\": \"senatorsanders\"\n   },\n   \"phone\": \"202-224-5141\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"VT\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.sanders.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Rhode Island\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"530 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.whitehouse.senate.gov/contact/email-sheldon\",\n    \"office\": \"530 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.whitehouse.senate.gov/rss/feeds/?type=all&amp;cachebuster=1\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"W000802\",\n    \"birthday\": \"1955-10-20\",\n    \"cspanid\": 92235,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Sheldon\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Whitehouse\",\n    \"link\": \"https://www.govtrack.us/congress/members/sheldon_whitehouse/412247\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Sheldon Whitehouse [D-RI]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00027533\",\n    \"pvsid\": null,\n    \"sortname\": \"Whitehouse, Sheldon (Sen.) [D-RI]\",\n    \"twitterid\": \"SenWhitehouse\",\n    \"youtubeid\": \"SenatorWhitehouse\"\n   },\n   \"phone\": \"202-224-2921\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"RI\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.whitehouse.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Wyoming\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"307 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.barrasso.senate.gov/public/index.cfm/contact-form\",\n    \"office\": \"307 Dirksen Senate Office Building\",\n    \"rss_url\": \"http://www.barrasso.senate.gov/public/index.cfm?FuseAction=Rss.Feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"B001261\",\n    \"birthday\": \"1952-07-21\",\n    \"cspanid\": 1024777,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"John\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Barrasso\",\n    \"link\": \"https://www.govtrack.us/congress/members/john_barrasso/412251\",\n    \"middlename\": \"A.\",\n    \"name\": \"Sen. John Barrasso [R-WY]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00006236\",\n    \"pvsid\": null,\n    \"sortname\": \"Barrasso, John (Sen.) [R-WY]\",\n    \"twitterid\": \"SenJohnBarrasso\",\n    \"youtubeid\": \"barrassowyo\"\n   },\n   \"phone\": \"202-224-6441\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"WY\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.barrasso.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Mississippi\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"425 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.wicker.senate.gov/public/index.cfm/contact\",\n    \"office\": \"425 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"W000437\",\n    \"birthday\": \"1951-07-05\",\n    \"cspanid\": 18203,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Roger\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Wicker\",\n    \"link\": \"https://www.govtrack.us/congress/members/roger_wicker/400432\",\n    \"middlename\": \"F.\",\n    \"name\": \"Sen. Roger Wicker [R-MS]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00003280\",\n    \"pvsid\": null,\n    \"sortname\": \"Wicker, Roger (Sen.) [R-MS]\",\n    \"twitterid\": \"SenatorWicker\",\n    \"youtubeid\": \"SenatorWicker\"\n   },\n   \"phone\": \"202-224-6253\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"MS\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.wicker.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for New York\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"478 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.gillibrand.senate.gov/contact/email-me\",\n    \"office\": \"478 Russell Senate Office Building\",\n    \"rss_url\": \"http://www.gillibrand.senate.gov/rss/\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"G000555\",\n    \"birthday\": \"1966-12-09\",\n    \"cspanid\": 1022862,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Kirsten\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Gillibrand\",\n    \"link\": \"https://www.govtrack.us/congress/members/kirsten_gillibrand/412223\",\n    \"middlename\": \"E.\",\n    \"name\": \"Sen. Kirsten Gillibrand [D-NY]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00027658\",\n    \"pvsid\": null,\n    \"sortname\": \"Gillibrand, Kirsten (Sen.) [D-NY]\",\n    \"twitterid\": \"GillibrandNY\",\n    \"youtubeid\": \"KirstenEGillibrand\"\n   },\n   \"phone\": \"202-224-4451\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"NY\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.gillibrand.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Wisconsin\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"141 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.baldwin.senate.gov/feedback\",\n    \"office\": \"141 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.baldwin.senate.gov/rss/feeds/?type=all\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"B001230\",\n    \"birthday\": \"1962-02-11\",\n    \"cspanid\": 57884,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Tammy\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Baldwin\",\n    \"link\": \"https://www.govtrack.us/congress/members/tammy_baldwin/400013\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Tammy Baldwin [D-WI]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00004367\",\n    \"pvsid\": null,\n    \"sortname\": \"Baldwin, Tammy (Sen.) [D-WI]\",\n    \"twitterid\": \"SenatorBaldwin\",\n    \"youtubeid\": \"witammybaldwin\"\n   },\n   \"phone\": \"202-224-5653\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"WI\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.baldwin.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Tennessee\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"357 Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.blackburn.senate.gov/email-me\",\n    \"office\": \"357 Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"B001243\",\n    \"birthday\": \"1952-06-06\",\n    \"cspanid\": 31226,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Marsha\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Blackburn\",\n    \"link\": \"https://www.govtrack.us/congress/members/marsha_blackburn/400032\",\n    \"middlename\": \"W.\",\n    \"name\": \"Sen. Marsha Blackburn [R-TN]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00003105\",\n    \"pvsid\": null,\n    \"sortname\": \"Blackburn, Marsha (Sen.) [R-TN]\",\n    \"twitterid\": \"MarshaBlackburn\",\n    \"youtubeid\": \"RepMarshaBlackburn\"\n   },\n   \"phone\": \"202-224-3344\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"TN\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.blackburn.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for New Mexico\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"709 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.heinrich.senate.gov/contact\",\n    \"office\": \"709 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"H001046\",\n    \"birthday\": \"1971-10-17\",\n    \"cspanid\": 1030686,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Martin\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Heinrich\",\n    \"link\": \"https://www.govtrack.us/congress/members/martin_heinrich/412281\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Martin Heinrich [D-NM]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00029835\",\n    \"pvsid\": null,\n    \"sortname\": \"Heinrich, Martin (Sen.) [D-NM]\",\n    \"twitterid\": \"MartinHeinrich\",\n    \"youtubeid\": \"SenMartinHeinrich\"\n   },\n   \"phone\": \"202-224-5521\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"NM\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.heinrich.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Hawaii\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"109 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.hirono.senate.gov/contact\",\n    \"office\": \"109 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.hirono.senate.gov/rss/feeds/?type=all\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"H001042\",\n    \"birthday\": \"1947-11-03\",\n    \"cspanid\": 91216,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Mazie\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Hirono\",\n    \"link\": \"https://www.govtrack.us/congress/members/mazie_hirono/412200\",\n    \"middlename\": \"K.\",\n    \"name\": \"Sen. Mazie Hirono [D-HI]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00028139\",\n    \"pvsid\": null,\n    \"sortname\": \"Hirono, Mazie (Sen.) [D-HI]\",\n    \"twitterid\": \"MazieHirono\",\n    \"youtubeid\": \"CongresswomanHirono\"\n   },\n   \"phone\": \"202-224-6361\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"HI\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.hirono.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Connecticut\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"136 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.murphy.senate.gov/contact\",\n    \"office\": \"136 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.theday.com/article/20121216/nws12/312169935/1069/rss\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"M001169\",\n    \"birthday\": \"1973-08-03\",\n    \"cspanid\": 1021270,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Christopher\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Murphy\",\n    \"link\": \"https://www.govtrack.us/congress/members/christopher_murphy/412194\",\n    \"middlename\": \"S.\",\n    \"name\": \"Sen. Christopher Murphy [D-CT]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00027566\",\n    \"pvsid\": null,\n    \"sortname\": \"Murphy, Christopher (Sen.) [D-CT]\",\n    \"twitterid\": \"SenMurphyOffice\",\n    \"youtubeid\": \"senchrismurphy\"\n   },\n   \"phone\": \"202-224-4041\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"CT\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.murphy.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for California\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"112 Hart Senate Office Building Washington DC 20510\",\n    \"office\": \"112 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"S001150\",\n    \"birthday\": \"1960-06-22\",\n    \"cspanid\": 90167,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Adam\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Schiff\",\n    \"link\": \"https://www.govtrack.us/congress/members/adam_schiff/400361\",\n    \"middlename\": \"B.\",\n    \"name\": \"Sen. Adam Schiff [D-CA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00009585\",\n    \"pvsid\": null,\n    \"sortname\": \"Schiff, Adam (Sen.) [D-CA]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3841\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"CA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.schiff.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Massachusetts\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"311 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.warren.senate.gov/?p=email_senator\",\n    \"office\": \"311 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.warren.senate.gov/rss/?p=hot_topic\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"W000817\",\n    \"birthday\": \"1949-06-22\",\n    \"cspanid\": 1023023,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Elizabeth\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Warren\",\n    \"link\": \"https://www.govtrack.us/congress/members/elizabeth_warren/412542\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Elizabeth Warren [D-MA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00033492\",\n    \"pvsid\": null,\n    \"sortname\": \"Warren, Elizabeth (Sen.) [D-MA]\",\n    \"twitterid\": \"SenWarren\",\n    \"youtubeid\": \"senelizabethwarren\"\n   },\n   \"phone\": \"202-224-4543\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"MA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.warren.senate.gov\"\n  },\n  {\n   \"caucus\": \"Democrat\",\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Maine\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"133 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.king.senate.gov/contact\",\n    \"office\": \"133 Hart Senate Office Building\",\n    \"rss_url\": \"http://www.king.senate.gov/rss/feeds/?type=all\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Independent\",\n   \"person\": {\n    \"bioguideid\": \"K000383\",\n    \"birthday\": \"1944-03-31\",\n    \"cspanid\": 37413,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Angus\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"King\",\n    \"link\": \"https://www.govtrack.us/congress/members/angus_king/412545\",\n    \"middlename\": \"S.\",\n    \"name\": \"Sen. Angus King [I-ME]\",\n    \"namemod\": \"Jr.\",\n    \"nickname\": \"\",\n    \"osid\": \"N00034580\",\n    \"pvsid\": null,\n    \"sortname\": \"King, Angus (Sen.) [I-ME]\",\n    \"twitterid\": \"SenAngusKing\",\n    \"youtubeid\": \"SenatorAngusKing\"\n   },\n   \"phone\": \"202-224-5344\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"ME\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.king.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for North Dakota\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"313 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.cramer.senate.gov/contact/contact-kevin\",\n    \"office\": \"313 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"C001096\",\n    \"birthday\": \"1961-01-21\",\n    \"cspanid\": 7600,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Kevin\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Cramer\",\n    \"link\": \"https://www.govtrack.us/congress/members/kevin_cramer/412555\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Kevin Cramer [R-ND]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00004614\",\n    \"pvsid\": null,\n    \"sortname\": \"Cramer, Kevin (Sen.) [R-ND]\",\n    \"twitterid\": \"SenKevinCramer\",\n    \"youtubeid\": \"kevincramer\"\n   },\n   \"phone\": \"202-224-2043\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"ND\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.cramer.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Nebraska\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"448 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.fischer.senate.gov/public/index.cfm/contact\",\n    \"office\": \"448 Russell Senate Office Building\",\n    \"rss_url\": \"http://www.fischer.senate.gov/public/index.cfm/rss/feed\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"F000463\",\n    \"birthday\": \"1951-03-01\",\n    \"cspanid\": 1034067,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Deb\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Fischer\",\n    \"link\": \"https://www.govtrack.us/congress/members/deb_fischer/412556\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Deb Fischer [R-NE]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00033443\",\n    \"pvsid\": null,\n    \"sortname\": \"Fischer, Deb (Sen.) [R-NE]\",\n    \"twitterid\": \"SenatorFischer\",\n    \"youtubeid\": \"senatordebfischer\"\n   },\n   \"phone\": \"202-224-6551\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"NE\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.fischer.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Texas\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"167 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.cruz.senate.gov/?p=form&id=16\",\n    \"office\": \"167 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"C001098\",\n    \"birthday\": \"1970-12-22\",\n    \"cspanid\": 1019953,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Ted\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Cruz\",\n    \"link\": \"https://www.govtrack.us/congress/members/ted_cruz/412573\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Ted Cruz [R-TX]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00033085\",\n    \"pvsid\": null,\n    \"sortname\": \"Cruz, Ted (Sen.) [R-TX]\",\n    \"twitterid\": \"SenTedCruz\",\n    \"youtubeid\": \"sentedcruz\"\n   },\n   \"phone\": \"202-224-5922\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"TX\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.cruz.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Virginia\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"231 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.kaine.senate.gov/contact\",\n    \"office\": \"231 Russell Senate Office Building\",\n    \"rss_url\": \"http://www.kaine.senate.gov/rss/feeds/?type=all\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"K000384\",\n    \"birthday\": \"1958-02-26\",\n    \"cspanid\": 49219,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Timothy\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Kaine\",\n    \"link\": \"https://www.govtrack.us/congress/members/timothy_kaine/412582\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Timothy “Tim” Kaine [D-VA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"Tim\",\n    \"osid\": \"N00033177\",\n    \"pvsid\": null,\n    \"sortname\": \"Kaine, Timothy “Tim” (Sen.) [D-VA]\",\n    \"twitterid\": null,\n    \"youtubeid\": \"SenatorTimKaine\"\n   },\n   \"phone\": \"202-224-4024\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"VA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.kaine.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Arizona\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"188 Russell Senate Office Building Washington DC 20510\",\n    \"office\": \"188 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"G000574\",\n    \"birthday\": \"1979-11-20\",\n    \"cspanid\": 77233,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Ruben\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Gallego\",\n    \"link\": \"https://www.govtrack.us/congress/members/ruben_gallego/412612\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Ruben Gallego [D-AZ]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00036097\",\n    \"pvsid\": null,\n    \"sortname\": \"Gallego, Ruben (Sen.) [D-AZ]\",\n    \"twitterid\": \"RepRubenGallego\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4521\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"AZ\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.gallego.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Delaware\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"B40A Dirksen Senate Office Building Washington DC 20510\",\n    \"office\": \"B40a Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"B001303\",\n    \"birthday\": \"1962-02-10\",\n    \"cspanid\": 104772,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Lisa\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Blunt Rochester\",\n    \"link\": \"https://www.govtrack.us/congress/members/lisa_blunt_rochester/412689\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Lisa Blunt Rochester [D-DE]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00038414\",\n    \"pvsid\": null,\n    \"sortname\": \"Blunt Rochester, Lisa (Sen.) [D-DE]\",\n    \"twitterid\": \"RepLBR\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-2441\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"DE\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.bluntrochester.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Indiana\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"B85 Russell Senate Office Building Washington DC 20510\",\n    \"office\": \"B85 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"B001299\",\n    \"birthday\": \"1979-07-16\",\n    \"cspanid\": 89806,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Jim\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Banks\",\n    \"link\": \"https://www.govtrack.us/congress/members/jim_banks/412702\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Jim Banks [R-IN]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00037185\",\n    \"pvsid\": null,\n    \"sortname\": \"Banks, Jim (Sen.) [R-IN]\",\n    \"twitterid\": \"RepJimBanks\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4814\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"IN\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.banks.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Nevada\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"713 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.rosen.senate.gov/contact_jacky\",\n    \"office\": \"713 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"R000608\",\n    \"birthday\": \"1957-08-02\",\n    \"cspanid\": 104738,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Jacky\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Rosen\",\n    \"link\": \"https://www.govtrack.us/congress/members/jacky_rosen/412715\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Jacky Rosen [D-NV]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00038734\",\n    \"pvsid\": null,\n    \"sortname\": \"Rosen, Jacky (Sen.) [D-NV]\",\n    \"twitterid\": \"SenJackyRosen\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-6244\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"NV\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.rosen.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Utah\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"B11 Russell Senate Office Building Washington DC 20510\",\n    \"office\": \"B11 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"C001114\",\n    \"birthday\": \"1960-05-10\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"John\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Curtis\",\n    \"link\": \"https://www.govtrack.us/congress/members/john_curtis/412740\",\n    \"middlename\": \"R.\",\n    \"name\": \"Sen. John Curtis [R-UT]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00041221\",\n    \"pvsid\": null,\n    \"sortname\": \"Curtis, John (Sen.) [R-UT]\",\n    \"twitterid\": \"RepJohnCurtis\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-5251\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"UT\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.curtis.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Michigan\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"825B Hart Senate Office Building Washington DC 20510\",\n    \"office\": \"825b Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"S001208\",\n    \"birthday\": \"1976-07-10\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Elissa\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Slotkin\",\n    \"link\": \"https://www.govtrack.us/congress/members/elissa_slotkin/412784\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Elissa Slotkin [D-MI]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00041357\",\n    \"pvsid\": null,\n    \"sortname\": \"Slotkin, Elissa (Sen.) [D-MI]\",\n    \"twitterid\": \"RepSlotkin\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4822\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"MI\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.slotkin.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for New Jersey\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"B40D Dirksen Senate Office Building Washington DC 20510\",\n    \"office\": \"B40d Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"K000394\",\n    \"birthday\": \"1982-07-12\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Andy\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Kim\",\n    \"link\": \"https://www.govtrack.us/congress/members/andy_kim/412797\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Andy Kim [D-NJ]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00041370\",\n    \"pvsid\": null,\n    \"sortname\": \"Kim, Andy (Sen.) [D-NJ]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4744\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"NJ\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.kim.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Florida\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"110 Hart Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.rickscott.senate.gov/contact/contact\",\n    \"office\": \"110 Hart Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"S001217\",\n    \"birthday\": \"1952-12-01\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Rick\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Scott\",\n    \"link\": \"https://www.govtrack.us/congress/members/rick_scott/412838\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Rick Scott [R-FL]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": \"N00043290\",\n    \"pvsid\": null,\n    \"sortname\": \"Scott, Rick (Sen.) [R-FL]\",\n    \"twitterid\": \"SenRickScott\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-5274\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"FL\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.rickscott.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Missouri\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"115 Russell Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://www.hawley.senate.gov/contact-senator-hawley\",\n    \"office\": \"115 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"H001089\",\n    \"birthday\": \"1979-12-31\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Joshua\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Hawley\",\n    \"link\": \"https://www.govtrack.us/congress/members/joshua_hawley/412840\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Joshua “Josh” Hawley [R-MO]\",\n    \"namemod\": \"\",\n    \"nickname\": \"Josh\",\n    \"osid\": \"N00041620\",\n    \"pvsid\": null,\n    \"sortname\": \"Hawley, Joshua “Josh” (Sen.) [R-MO]\",\n    \"twitterid\": \"SenHawleyPress\",\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-6154\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"MO\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.hawley.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Maryland\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"B40E Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://alsobrooks.senate.gov/\",\n    \"office\": \"B40e Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Democrat\",\n   \"person\": {\n    \"bioguideid\": \"A000382\",\n    \"birthday\": \"1971-02-23\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Angela\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Alsobrooks\",\n    \"link\": \"https://www.govtrack.us/congress/members/angela_alsobrooks/456965\",\n    \"middlename\": \"Deneece\",\n    \"name\": \"Sen. Angela Alsobrooks [D-MD]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": null,\n    \"pvsid\": null,\n    \"sortname\": \"Alsobrooks, Angela (Sen.) [D-MD]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-4524\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"MD\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.alsobrooks.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Montana\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"G55 Dirksen Senate Office Building Washington DC 20510\",\n    \"office\": \"G55 Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"S001232\",\n    \"birthday\": \"1985-11-18\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Tim\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Sheehy\",\n    \"link\": \"https://www.govtrack.us/congress/members/tim_sheehy/456966\",\n    \"middlename\": \"Patrick\",\n    \"name\": \"Sen. Tim Sheehy [R-MT]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": null,\n    \"pvsid\": null,\n    \"sortname\": \"Sheehy, Tim (Sen.) [R-MT]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-2644\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"MT\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.sheehy.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Senior Senator for Ohio\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"B33 Russell Senate Office Building Washington DC 20510\",\n    \"office\": \"B33 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"M001242\",\n    \"birthday\": \"1967-02-14\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Bernie\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Moreno\",\n    \"link\": \"https://www.govtrack.us/congress/members/bernie_moreno/456967\",\n    \"middlename\": \"\",\n    \"name\": \"Sen. Bernie Moreno [R-OH]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": null,\n    \"pvsid\": null,\n    \"sortname\": \"Moreno, Bernie (Sen.) [R-OH]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-2315\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"senior\",\n   \"senator_rank_label\": \"Senior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"OH\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.moreno.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Pennsylvania\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"B40C Dirksen Senate Office Building Washington DC 20510\",\n    \"contact_form\": \"https://mccormick.senate.gov/\",\n    \"office\": \"B40c Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"M001243\",\n    \"birthday\": \"1965-08-17\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Dave\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"McCormick\",\n    \"link\": \"https://www.govtrack.us/congress/members/dave_mccormick/456968\",\n    \"middlename\": \"Harold\",\n    \"name\": \"Sen. Dave McCormick [R-PA]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": null,\n    \"pvsid\": null,\n    \"sortname\": \"McCormick, Dave (Sen.) [R-PA]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-6324\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-03\",\n   \"state\": \"PA\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.mccormick.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120,\n    121\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for West Virginia\",\n   \"district\": null,\n   \"enddate\": \"2031-01-03\",\n   \"extra\": {\n    \"address\": \"G12 Dirksen Senate Office Building Washington DC 20510\",\n    \"office\": \"G12 Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"J000312\",\n    \"birthday\": \"1951-04-27\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Jim\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Justice\",\n    \"link\": \"https://www.govtrack.us/congress/members/jim_justice/456969\",\n    \"middlename\": \"Conley\",\n    \"name\": \"Sen. Jim Justice [R-WV]\",\n    \"namemod\": \"II\",\n    \"nickname\": \"\",\n    \"osid\": null,\n    \"pvsid\": null,\n    \"sortname\": \"Justice, Jim (Sen.) [R-WV]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3954\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class1\",\n   \"senator_class_label\": \"Class 1\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-14\",\n   \"state\": \"WV\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.justice.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Ohio\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"198 Russell Senate Office Building Washington DC 20510\",\n    \"end-type\": \"special-election\",\n    \"how\": \"appointment\",\n    \"office\": \"198 Russell Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"H001104\",\n    \"birthday\": \"1967-08-25\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Jon\",\n    \"gender\": \"male\",\n    \"gender_label\": \"Male\",\n    \"lastname\": \"Husted\",\n    \"link\": \"https://www.govtrack.us/congress/members/jon_husted/457032\",\n    \"middlename\": \"Allen\",\n    \"name\": \"Sen. Jon Husted [R-OH]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": null,\n    \"pvsid\": null,\n    \"sortname\": \"Husted, Jon (Sen.) [R-OH]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3353\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-21\",\n   \"state\": \"OH\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.husted.senate.gov\"\n  },\n  {\n   \"caucus\": null,\n   \"congress_numbers\": [\n    119,\n    120\n   ],\n   \"current\": true,\n   \"description\": \"Junior Senator for Florida\",\n   \"district\": null,\n   \"enddate\": \"2029-01-03\",\n   \"extra\": {\n    \"address\": \"B40B Dirksen Senate Office Building Washington DC 20510\",\n    \"end-type\": \"special-election\",\n    \"how\": \"appointment\",\n    \"office\": \"B40b Dirksen Senate Office Building\"\n   },\n   \"leadership_title\": null,\n   \"party\": \"Republican\",\n   \"person\": {\n    \"bioguideid\": \"M001244\",\n    \"birthday\": \"1975-03-28\",\n    \"cspanid\": null,\n    \"fediverse_webfinger\": null,\n    \"firstname\": \"Ashley\",\n    \"gender\": \"female\",\n    \"gender_label\": \"Female\",\n    \"lastname\": \"Moody\",\n    \"link\": \"https://www.govtrack.us/congress/members/ashley_moody/457033\",\n    \"middlename\": \"Brooke\",\n    \"name\": \"Sen. Ashley Moody [R-FL]\",\n    \"namemod\": \"\",\n    \"nickname\": \"\",\n    \"osid\": null,\n    \"pvsid\": null,\n    \"sortname\": \"Moody, Ashley (Sen.) [R-FL]\",\n    \"twitterid\": null,\n    \"youtubeid\": null\n   },\n   \"phone\": \"202-224-3041\",\n   \"role_type\": \"senator\",\n   \"role_type_label\": \"Senator\",\n   \"senator_class\": \"class3\",\n   \"senator_class_label\": \"Class 3\",\n   \"senator_rank\": \"junior\",\n   \"senator_rank_label\": \"Junior\",\n   \"startdate\": \"2025-01-21\",\n   \"state\": \"FL\",\n   \"title\": \"Sen.\",\n   \"title_long\": \"Senator\",\n   \"website\": \"https://www.moody.senate.gov\"\n  }\n ]\n}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "60 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f48379fb-d16c-306e-8805-81c55025cbaa",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ValidateJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 24.0,
        "y" : -176.0
      },
      "properties" : {
        "Max String Length" : "20 MB",
        "JSON Schema Version" : "DRAFT_2020_12",
        "JSON Schema" : "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://json-schema.org/draft/2020-12/meta/meta-data\",\n  \"$dynamicAnchor\": \"meta\",\n  \"title\": \"Meta-data vocabulary meta-schema\",\n  \"type\": [\n    \"object\",\n    \"boolean\"\n  ],\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"description\": {\n      \"type\": \"string\"\n    },\n    \"default\": true,\n    \"deprecated\": {\n      \"type\": \"boolean\",\n      \"default\": false\n    },\n    \"readOnly\": {\n      \"type\": \"boolean\",\n      \"default\": false\n    },\n    \"writeOnly\": {\n      \"type\": \"boolean\",\n      \"default\": false\n    },\n    \"examples\": {\n      \"type\": \"array\",\n      \"items\": true\n    }\n  }\n}",
        "Schema Access Strategy" : "SCHEMA_CONTENT_PROPERTY",
        "Schema Name" : "${schema.name}"
      },
      "propertyDescriptors" : {
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "JSON Schema Version" : {
          "displayName" : "JSON Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Schema Version",
          "sensitive" : false
        },
        "JSON Schema" : {
          "displayName" : "JSON Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Schema",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT", "URL" ]
          },
          "sensitive" : false
        },
        "JSON Schema Registry" : {
          "displayName" : "JSON Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "JSON Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ValidateJson",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "6f05b07c-1c80-4987-b993-af2f14282ec3",
    "flowIdentifier" : "JsonValidator",
    "timestamp" : 0
  }
}