CreateGitVersionedBucket/CreateGitBucket.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "78237c14-eee3-35cc-a84c-72177d2f82cf",
            "instanceIdentifier" : "91ad15ed-0195-1000-f287-80e5a772f96b",
            "name" : "Split FlowFile Line-by-Line",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "c6e7efe0-6cb5-310c-9018-149961fc086c",
          "instanceIdentifier" : "95aa5a96-0195-1000-299f-2fcf085b44ef",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "9179b287-0195-1000-5c6a-83e5a848fb46",
            "instanceIdentifier" : "d4152804-1d7e-3657-9200-5d705b6e2a4c",
            "name" : "List All Buckets in Registry",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "e3feef96-8f0d-3d37-89b7-e600cea2fe66",
            "instanceIdentifier" : "912517f0-0195-1000-a3f4-a4536ed0308d",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "c009ceb2-5ff3-3ab7-879f-87d13fc258c2",
          "instanceIdentifier" : "91c6c5d9-0195-1000-ca78-81ac6cab07e2",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "db46691f-6c31-3a3a-aea0-4d257ed8e3ab",
            "instanceIdentifier" : "91c58c4e-0195-1000-1c38-84c17ff6e291",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "5589ea66-7148-37a5-92d8-c871f660c8b3",
            "instanceIdentifier" : "964f74fe-0195-1000-fd93-de72532fc99f",
            "name" : "ExtractText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "2715e1a1-4166-372e-9721-9bf1b082e308",
          "instanceIdentifier" : "96073478-0195-1000-d5ea-7ce1b311f006",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "95fa5044-0195-1000-0400-04edbc93f64b",
            "instanceIdentifier" : "dcbe460b-8dc4-3e95-9806-2a0b341a2d09",
            "name" : "Create Dummy Flow",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "968093d5-0195-1000-fe13-b751770d6391",
            "instanceIdentifier" : "48779c8b-d99b-352c-e286-6108add8787f",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "654ac96d-87e7-305f-a4ad-2cc082019cb0",
          "instanceIdentifier" : "967e0704-0195-1000-6add-02a94b5eec7e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "9678b8d9-0195-1000-b3a1-a09e710e43bf",
            "instanceIdentifier" : "16be4de5-473c-3d98-9669-ef0041a855b7",
            "name" : "Delete Dummy Flow",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "de2622d5-a10b-3c33-9cae-0400e4f548e4",
            "instanceIdentifier" : "91a6da26-0195-1000-bfcd-8c9dcf7c4c27",
            "name" : "Get Bucket ID",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "78cfec19-1d7f-384d-b5f7-41bb78c1eda6",
          "instanceIdentifier" : "95efe6e4-0195-1000-1bb9-fc4f1c6af69e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "2af181cb-799c-311d-baf4-7fc17d52b5a1",
            "instanceIdentifier" : "95eddd4e-0195-1000-3b30-91be35badacf",
            "name" : "Select Correct FlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "7b4335f1-cb13-3586-bba7-935d5d512df0",
            "instanceIdentifier" : "9124f569-0195-1000-265f-f99cd64b771f",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "047ddbcd-e98d-32fd-a0ff-90ed822a31b5",
          "instanceIdentifier" : "91250da8-0195-1000-3978-0fac97a115c6",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "0b02dba3-67f0-33cd-b4e6-2e116f78e154",
            "instanceIdentifier" : "912317c7-0195-1000-5931-19466c8aaeb8",
            "name" : "Create New Bucket",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "0b02dba3-67f0-33cd-b4e6-2e116f78e154",
            "instanceIdentifier" : "912317c7-0195-1000-5931-19466c8aaeb8",
            "name" : "Create New Bucket",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "15f6d2c7-fa7d-3c95-a50a-0744431d48ac",
          "instanceIdentifier" : "9623edb0-0195-1000-a041-82a999433036",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "b62e4082-311d-3aa7-855c-b748e1d87024",
            "instanceIdentifier" : "951d31b7-0195-1000-c3f6-20093de86ff9",
            "name" : "Set Default Constants",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "95f3ad52-0195-1000-cb10-4828a87c98ca",
            "instanceIdentifier" : "9a4a9aad-a426-3914-64b0-56500fe0780c",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "2599e240-5db6-379b-b6c5-4a2d3d1c25dc",
          "instanceIdentifier" : "9680eddc-0195-1000-0abd-3c67f5854f2f",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "9678b8d9-0195-1000-b3a1-a09e710e43bf",
            "instanceIdentifier" : "16be4de5-473c-3d98-9669-ef0041a855b7",
            "name" : "Delete Dummy Flow",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "9678b8d9-0195-1000-b3a1-a09e710e43bf",
            "instanceIdentifier" : "16be4de5-473c-3d98-9669-ef0041a855b7",
            "name" : "Delete Dummy Flow",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "d986d7a5-1f3f-31c7-916f-5ef087d43fc6",
          "instanceIdentifier" : "965f3d90-0195-1000-099d-c64de1ea686d",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream", "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "961dbb2c-0195-1000-07a9-20aea21b4397",
            "instanceIdentifier" : "82b27bd6-e5c5-3e5f-0880-f2e1ace572e8",
            "name" : "Git Commit Local Changes",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "95fa5044-0195-1000-0400-04edbc93f64b",
            "instanceIdentifier" : "dcbe460b-8dc4-3e95-9806-2a0b341a2d09",
            "name" : "Create Dummy Flow",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "907365ce-b71c-3d9e-a5f9-cd55ea48e131",
          "instanceIdentifier" : "91a761ce-0195-1000-49af-c63c9002b60a",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "de2622d5-a10b-3c33-9cae-0400e4f548e4",
            "instanceIdentifier" : "91a6da26-0195-1000-bfcd-8c9dcf7c4c27",
            "name" : "Get Bucket ID",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "db46691f-6c31-3a3a-aea0-4d257ed8e3ab",
            "instanceIdentifier" : "91c58c4e-0195-1000-1c38-84c17ff6e291",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "d001ee5b-703d-300d-b7a5-133eeba38a92",
          "instanceIdentifier" : "95f42e14-0195-1000-4239-4db906d90c5e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "95f3ad52-0195-1000-cb10-4828a87c98ca",
            "instanceIdentifier" : "9a4a9aad-a426-3914-64b0-56500fe0780c",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "961dbb2c-0195-1000-07a9-20aea21b4397",
            "instanceIdentifier" : "82b27bd6-e5c5-3e5f-0880-f2e1ace572e8",
            "name" : "Git Commit Local Changes",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "473143a2-af0d-31b7-80ec-03fcffe3c827",
          "instanceIdentifier" : "960ebad9-0195-1000-70bf-9c5c3094f75f",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "960bd3b0-0195-1000-1bc2-86e708b23df0",
            "instanceIdentifier" : "f492125c-d25d-3e54-d1f3-9bce0bf34e60",
            "name" : "Create Directory Bucket Name",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "9652dc87-0195-1000-259e-98c5732ede98",
            "instanceIdentifier" : "74c40f87-39cc-36a1-ca82-14a9cfdabee4",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "a97cd8e1-6be7-3bac-b814-d111aba7295e",
          "instanceIdentifier" : "9652ff56-0195-1000-31d0-fd363e89510f",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "96382859-0195-1000-c510-4b5770370c81",
            "instanceIdentifier" : "3206e412-fb38-3007-97d4-f6c7aedec7f2",
            "name" : "Import Dummy Flow Version",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "96382859-0195-1000-c510-4b5770370c81",
            "instanceIdentifier" : "3206e412-fb38-3007-97d4-f6c7aedec7f2",
            "name" : "Import Dummy Flow Version",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "e2597831-4237-3e7e-b9a0-9ca492e38af0",
          "instanceIdentifier" : "96512ec0-0195-1000-1434-bf8444d834ed",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "5589ea66-7148-37a5-92d8-c871f660c8b3",
            "instanceIdentifier" : "964f74fe-0195-1000-fd93-de72532fc99f",
            "name" : "ExtractText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "96515be6-0195-1000-7e3b-0fdd6ee82324",
            "instanceIdentifier" : "ee184296-743f-30da-4b0c-d408edd02ccd",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "930a85c0-5e42-3ee9-9421-0d01c622b2c3",
          "instanceIdentifier" : "96517fe8-0195-1000-437d-53bb285be6ef",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "5589ea66-7148-37a5-92d8-c871f660c8b3",
            "instanceIdentifier" : "964f74fe-0195-1000-fd93-de72532fc99f",
            "name" : "ExtractText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "9179b287-0195-1000-5c6a-83e5a848fb46",
            "instanceIdentifier" : "d4152804-1d7e-3657-9200-5d705b6e2a4c",
            "name" : "List All Buckets in Registry",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "497b57c5-f7a2-38e5-86b8-cc3946165fc1",
          "instanceIdentifier" : "96244523-0195-1000-acc5-ebbf5c0341a4",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "0b02dba3-67f0-33cd-b4e6-2e116f78e154",
            "instanceIdentifier" : "912317c7-0195-1000-5931-19466c8aaeb8",
            "name" : "Create New Bucket",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "ef6a0459-dc9a-3d13-8ac8-1388175b95e0",
            "instanceIdentifier" : "91253609-0195-1000-2afe-487e38796a01",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "0acfff4e-ee37-3334-be84-8aa03aa7578b",
          "instanceIdentifier" : "91a79af5-0195-1000-5e56-aa59b51b8a11",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "de2622d5-a10b-3c33-9cae-0400e4f548e4",
            "instanceIdentifier" : "91a6da26-0195-1000-bfcd-8c9dcf7c4c27",
            "name" : "Get Bucket ID",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "b62e4082-311d-3aa7-855c-b748e1d87024",
            "instanceIdentifier" : "951d31b7-0195-1000-c3f6-20093de86ff9",
            "name" : "Set Default Constants",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "6d64d908-f22e-34ec-aa85-77298dc6d374",
          "instanceIdentifier" : "912757e5-0195-1000-47c2-50e8ec434521",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "9697c647-1fa4-34b1-9c35-d9dea2e7cba3",
            "instanceIdentifier" : "91273d6d-0195-1000-7be2-bf68bb975e22",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "960bd3b0-0195-1000-1bc2-86e708b23df0",
            "instanceIdentifier" : "f492125c-d25d-3e54-d1f3-9bce0bf34e60",
            "name" : "Create Directory Bucket Name",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "f239a1d6-2fca-35fb-a925-a25d9554b920",
          "instanceIdentifier" : "96527a38-0195-1000-9007-0ba1036e3ae0",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "96382859-0195-1000-c510-4b5770370c81",
            "instanceIdentifier" : "3206e412-fb38-3007-97d4-f6c7aedec7f2",
            "name" : "Import Dummy Flow Version",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "95effd42-0195-1000-cbc8-a41f7a6d52b3",
            "instanceIdentifier" : "368a201a-b07f-3fdb-bfe5-3f7d50ca97ee",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "7e89b85c-4e5d-35e8-b431-edfa3a5ff565",
          "instanceIdentifier" : "95f02f78-0195-1000-9347-eb0a808bb5b7",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "2af181cb-799c-311d-baf4-7fc17d52b5a1",
            "instanceIdentifier" : "95eddd4e-0195-1000-3b30-91be35badacf",
            "name" : "Select Correct FlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "960ecfc3-0195-1000-a989-abdec0852ea3",
            "instanceIdentifier" : "45edefdb-003d-3e09-4644-b9b6db527087",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "3c1b6f29-bf3a-36a8-9ee4-b1eebfd4dfa9",
          "instanceIdentifier" : "961d3618-0195-1000-e55b-505562a141a2",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "960bd3b0-0195-1000-1bc2-86e708b23df0",
            "instanceIdentifier" : "f492125c-d25d-3e54-d1f3-9bce0bf34e60",
            "name" : "Create Directory Bucket Name",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "2af181cb-799c-311d-baf4-7fc17d52b5a1",
            "instanceIdentifier" : "95eddd4e-0195-1000-3b30-91be35badacf",
            "name" : "Select Correct FlowFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "97c1f44e-e622-3351-94b5-3a3e770b9496",
          "instanceIdentifier" : "91aee950-0195-1000-3573-a802b9940791",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "splits" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "78237c14-eee3-35cc-a84c-72177d2f82cf",
            "instanceIdentifier" : "91ad15ed-0195-1000-f287-80e5a772f96b",
            "name" : "Split FlowFile Line-by-Line",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "96074d6d-0195-1000-6bc8-e82cbdd5b6ab",
            "instanceIdentifier" : "80491c0c-1f4d-34ce-8a17-65a3d036ee7e",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "3a406697-0b79-3532-b7f4-e4105a80181d",
          "instanceIdentifier" : "960797c8-0195-1000-d7ee-a42e68ab54f9",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
            "id" : "95fa5044-0195-1000-0400-04edbc93f64b",
            "instanceIdentifier" : "dcbe460b-8dc4-3e95-9806-2a0b341a2d09",
            "name" : "Create Dummy Flow",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "965f1461-0195-1000-58aa-1ea76dc1d96d",
          "instanceIdentifier" : "2ca71b3f-3dc7-3146-3c54-f5c2fd21ca6f",
          "position" : {
            "x" : 2320.0,
            "y" : -384.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "e3feef96-8f0d-3d37-89b7-e600cea2fe66",
          "instanceIdentifier" : "912517f0-0195-1000-a3f4-a4536ed0308d",
          "position" : {
            "x" : 2320.0,
            "y" : -16.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "95effd42-0195-1000-cbc8-a41f7a6d52b3",
          "instanceIdentifier" : "368a201a-b07f-3fdb-bfe5-3f7d50ca97ee",
          "position" : {
            "x" : 2184.0,
            "y" : -936.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "96515be6-0195-1000-7e3b-0fdd6ee82324",
          "instanceIdentifier" : "ee184296-743f-30da-4b0c-d408edd02ccd",
          "position" : {
            "x" : 2216.0,
            "y" : -648.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "ef6a0459-dc9a-3d13-8ac8-1388175b95e0",
          "instanceIdentifier" : "91253609-0195-1000-2afe-487e38796a01",
          "position" : {
            "x" : 48.0,
            "y" : -648.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "960ecfc3-0195-1000-a989-abdec0852ea3",
          "instanceIdentifier" : "45edefdb-003d-3e09-4644-b9b6db527087",
          "position" : {
            "x" : 1544.0,
            "y" : -544.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "968093d5-0195-1000-fe13-b751770d6391",
          "instanceIdentifier" : "48779c8b-d99b-352c-e286-6108add8787f",
          "position" : {
            "x" : 472.0,
            "y" : 184.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "7b4335f1-cb13-3586-bba7-935d5d512df0",
          "instanceIdentifier" : "9124f569-0195-1000-265f-f99cd64b771f",
          "position" : {
            "x" : 2184.0,
            "y" : -1216.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "96074d6d-0195-1000-6bc8-e82cbdd5b6ab",
          "instanceIdentifier" : "80491c0c-1f4d-34ce-8a17-65a3d036ee7e",
          "position" : {
            "x" : 1440.0,
            "y" : -792.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "9652dc87-0195-1000-259e-98c5732ede98",
          "instanceIdentifier" : "74c40f87-39cc-36a1-ca82-14a9cfdabee4",
          "position" : {
            "x" : 32.0,
            "y" : -392.0
          }
        } ],
        "identifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
        "inputPorts" : [ ],
        "instanceIdentifier" : "9076cd90-0195-1000-c6e2-70e9741a3ef4",
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "Git Bucket Automation",
        "outputPorts" : [ ],
        "position" : {
          "x" : 792.0,
          "y" : 200.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "de2622d5-a10b-3c33-9cae-0400e4f548e4",
          "instanceIdentifier" : "91a6da26-0195-1000-bfcd-8c9dcf7c4c27",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Get Bucket ID",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 352.0,
            "y" : -680.0
          },
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "Enable named group support" : "false",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "bucketId" : "\\s+([a-f0-9\\-]{36})\\s+",
            "Maximum Buffer Size" : "1 MB",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "Enable repeating capture group" : "false",
            "Maximum Capture Group Length" : "1024",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "displayName" : "Enable Unicode Predefined Character Classes",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unicode Predefined Character Classes",
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Permit Whitespace and Comments in Pattern",
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "displayName" : "Enable Unicode-aware Case Folding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unicode-aware Case Folding",
              "sensitive" : false
            },
            "Enable named group support" : {
              "displayName" : "Enable named group support",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable named group support",
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "displayName" : "Enable DOTALL Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable DOTALL Mode",
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "displayName" : "Enable Unix Lines Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unix Lines Mode",
              "sensitive" : false
            },
            "bucketId" : {
              "displayName" : "bucketId",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "bucketId",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "displayName" : "Enable Canonical Equivalence",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Canonical Equivalence",
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "displayName" : "Enable Case-insensitive Matching",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Case-insensitive Matching",
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "displayName" : "Enable Multiline Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Multiline Mode",
              "sensitive" : false
            },
            "Enable repeating capture group" : {
              "displayName" : "Enable repeating capture group",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable repeating capture group",
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "displayName" : "Maximum Capture Group Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Capture Group Length",
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "displayName" : "Enable Literal Parsing of the Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Literal Parsing of the Pattern",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "displayName" : "Include Capture Group 0",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Include Capture Group 0",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "95fa5044-0195-1000-0400-04edbc93f64b",
          "instanceIdentifier" : "dcbe460b-8dc4-3e95-9806-2a0b341a2d09",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Create Dummy Flow",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 976.0,
            "y" : -680.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Working Directory" : "/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin",
            "Command Path" : "C:\\Program Files\\Git\\bin\\bash.exe",
            "Argument Delimiter" : " ",
            "Ignore STDIN" : "false",
            "Command Arguments" : "-c \"/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin/cli.sh registry create-flow -u http://localhost:18080 -b ${bucketId} -fn ${flowName} -fd 'delete once real flow is imported'\""
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Output MIME Type" : {
              "displayName" : "Output MIME Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output MIME Type",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "0b02dba3-67f0-33cd-b4e6-2e116f78e154",
          "instanceIdentifier" : "912317c7-0195-1000-5931-19466c8aaeb8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Create New Bucket",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1576.0,
            "y" : -1256.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Working Directory" : "/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin",
            "Command Path" : "C:\\Program Files\\Git\\bin\\bash.exe",
            "Argument Delimiter" : " ",
            "Ignore STDIN" : "false",
            "Command Arguments" : "-c \"/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin/cli.sh registry create-bucket -u http://localhost:18080 -bn ${bucketName} -bd '${bucketDesc}'\""
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Output MIME Type" : {
              "displayName" : "Output MIME Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output MIME Type",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "9697c647-1fa4-34b1-9c35-d9dea2e7cba3",
          "instanceIdentifier" : "91273d6d-0195-1000-7be2-bf68bb975e22",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 368.0,
            "y" : -1248.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "5589ea66-7148-37a5-92d8-c871f660c8b3",
          "instanceIdentifier" : "964f74fe-0195-1000-fd93-de72532fc99f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExtractText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1624.0,
            "y" : -688.0
          },
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "Enable named group support" : "false",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "Maximum Buffer Size" : "1 MB",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "Enable repeating capture group" : "false",
            "Maximum Capture Group Length" : "1024",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true",
            "flowId" : "^(.+)$"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "displayName" : "Enable Unicode Predefined Character Classes",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unicode Predefined Character Classes",
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Permit Whitespace and Comments in Pattern",
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "displayName" : "Enable Unicode-aware Case Folding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unicode-aware Case Folding",
              "sensitive" : false
            },
            "Enable named group support" : {
              "displayName" : "Enable named group support",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable named group support",
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "displayName" : "Enable DOTALL Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable DOTALL Mode",
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "displayName" : "Enable Unix Lines Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Unix Lines Mode",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "displayName" : "Enable Canonical Equivalence",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Canonical Equivalence",
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "displayName" : "Enable Case-insensitive Matching",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Case-insensitive Matching",
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "displayName" : "Enable Multiline Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Multiline Mode",
              "sensitive" : false
            },
            "Enable repeating capture group" : {
              "displayName" : "Enable repeating capture group",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable repeating capture group",
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "displayName" : "Maximum Capture Group Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Capture Group Length",
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "displayName" : "Enable Literal Parsing of the Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Enable Literal Parsing of the Pattern",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "displayName" : "Include Capture Group 0",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Include Capture Group 0",
              "sensitive" : false
            },
            "flowId" : {
              "displayName" : "flowId",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "flowId",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "961dbb2c-0195-1000-07a9-20aea21b4397",
          "instanceIdentifier" : "82b27bd6-e5c5-3e5f-0880-f2e1ace572e8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Git Commit Local Changes",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1624.0,
            "y" : -448.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Working Directory" : "/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin",
            "Command Path" : "C:\\Program Files\\Git\\bin\\bash.exe",
            "Argument Delimiter" : " ",
            "Ignore STDIN" : "false",
            "Command Arguments" : "-c \"cd /c/Users/Dafni/Documents/Apache_Nifi/nifi-registry-2.2.0/git-flow-storage && git add . && git commit -m 'Adding snapshot for ${bucketName}'\""
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Output MIME Type" : {
              "displayName" : "Output MIME Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output MIME Type",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "95f3ad52-0195-1000-cb10-4828a87c98ca",
          "instanceIdentifier" : "9a4a9aad-a426-3914-64b0-56500fe0780c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "AttributesToJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 944.0,
            "y" : 88.0
          },
          "properties" : {
            "Destination" : "flowfile-content",
            "Null Value" : "false",
            "Pretty Print" : "false",
            "Include Core Attributes" : "true",
            "JSON Handling Strategy" : "ESCAPED"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "displayName" : "Attributes Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-json-regex",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Null Value" : {
              "displayName" : "Null Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value",
              "sensitive" : false
            },
            "Attributes List" : {
              "displayName" : "Attributes List",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes List",
              "sensitive" : false
            },
            "Pretty Print" : {
              "displayName" : "Pretty Print",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Pretty Print",
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "displayName" : "Include Core Attributes",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Include Core Attributes",
              "sensitive" : false
            },
            "JSON Handling Strategy" : {
              "displayName" : "JSON Handling Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JSON Handling Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "96382859-0195-1000-c510-4b5770370c81",
          "instanceIdentifier" : "3206e412-fb38-3007-97d4-f6c7aedec7f2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Import Dummy Flow Version",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 352.0,
            "y" : -432.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Working Directory" : "/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin",
            "Command Path" : "C:\\Program Files\\Git\\bin\\bash.exe",
            "Argument Delimiter" : " ",
            "Ignore STDIN" : "false",
            "Command Arguments" : "-c \"/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin/cli.sh registry import-flow-version -u http://localhost:18080 -f ${flowId} -i ${dummyFlow}\""
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Output MIME Type" : {
              "displayName" : "Output MIME Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output MIME Type",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "nonzero status" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "9179b287-0195-1000-5c6a-83e5a848fb46",
          "instanceIdentifier" : "d4152804-1d7e-3657-9200-5d705b6e2a4c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "List All Buckets in Registry",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 352.0,
            "y" : -960.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Working Directory" : "/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin",
            "Command Path" : "C:\\Program Files\\Git\\bin\\bash.exe",
            "Argument Delimiter" : " ",
            "Ignore STDIN" : "false",
            "Command Arguments" : "-c \"/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin/cli.sh registry list-buckets -u http://localhost:18080\""
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Output MIME Type" : {
              "displayName" : "Output MIME Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output MIME Type",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "2af181cb-799c-311d-baf4-7fc17d52b5a1",
          "instanceIdentifier" : "95eddd4e-0195-1000-3b30-91be35badacf",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Select Correct FlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1576.0,
            "y" : -968.0
          },
          "properties" : {
            "Content Buffer Size" : "1 MB",
            "Match Requirement" : "content must match exactly",
            "matched" : "^.*${bucketName}.*$",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "Content Buffer Size" : {
              "displayName" : "Content Buffer Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Content Buffer Size",
              "sensitive" : false
            },
            "Match Requirement" : {
              "displayName" : "Match Requirement",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Match Requirement",
              "sensitive" : false
            },
            "matched" : {
              "displayName" : "matched",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "matched",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "78237c14-eee3-35cc-a84c-72177d2f82cf",
          "instanceIdentifier" : "91ad15ed-0195-1000-f287-80e5a772f96b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Split FlowFile Line-by-Line",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 984.0,
            "y" : -960.0
          },
          "properties" : {
            "Remove Trailing Newlines" : "true",
            "Header Line Count" : "0",
            "Line Split Count" : "1"
          },
          "propertyDescriptors" : {
            "Remove Trailing Newlines" : {
              "displayName" : "Remove Trailing Newlines",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Remove Trailing Newlines",
              "sensitive" : false
            },
            "Maximum Fragment Size" : {
              "displayName" : "Maximum Fragment Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Fragment Size",
              "sensitive" : false
            },
            "Header Line Marker Characters" : {
              "displayName" : "Header Line Marker Characters",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Header Line Marker Characters",
              "sensitive" : false
            },
            "Header Line Count" : {
              "displayName" : "Header Line Count",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Header Line Count",
              "sensitive" : false
            },
            "Line Split Count" : {
              "displayName" : "Line Split Count",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Line Split Count",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "9678b8d9-0195-1000-b3a1-a09e710e43bf",
          "instanceIdentifier" : "16be4de5-473c-3d98-9669-ef0041a855b7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Delete Dummy Flow",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 576.0,
            "y" : -232.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Working Directory" : "/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin",
            "Command Path" : "C:\\Program Files\\Git\\bin\\bash.exe",
            "Argument Delimiter" : " ",
            "Ignore STDIN" : "false",
            "Command Arguments" : "-c \"/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin/cli.sh registry delete-flow -u http://localhost:18080 -f ${flowId} --force\""
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Output MIME Type" : {
              "displayName" : "Output MIME Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output MIME Type",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "db46691f-6c31-3a3a-aea0-4d257ed8e3ab",
          "instanceIdentifier" : "91c58c4e-0195-1000-1c38-84c17ff6e291",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1632.0,
            "y" : -56.0
          },
          "properties" : {
            "newcmd" : "/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin/cli.sh registry delete-bucket -u http://localhost:18080 -b  --force",
            "bucketName" : "${bucketName}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "bucketId" : "${bucketId}"
          },
          "propertyDescriptors" : {
            "newcmd" : {
              "displayName" : "newcmd",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "newcmd",
              "sensitive" : false
            },
            "bucketName" : {
              "displayName" : "bucketName",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "bucketName",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "bucketId" : {
              "displayName" : "bucketId",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "bucketId",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "b62e4082-311d-3aa7-855c-b748e1d87024",
          "instanceIdentifier" : "951d31b7-0195-1000-c3f6-20093de86ff9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Set Default Constants",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 984.0,
            "y" : -1256.0
          },
          "properties" : {
            "dummyFlow" : "/c/Users/Dafni/Documents/Apache_Nifi/nifi-registry-2.2.0/dummy.json",
            "bucketName" : "CreateGitVersionedBucket",
            "bucketDesc" : "Flow allows user to automate the creation of a dummy bucket using nifi-toolkit-cli commands in order that they can actively select the newly created bucket to start version control on processor group and changes are committed to git repo",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "flowName" : "dummy",
            "git_dir" : "/c/Users/Dafni/Documents/Apache_Nifi/nifi-registry-2.2.0/git-flow-storage"
          },
          "propertyDescriptors" : {
            "dummyFlow" : {
              "displayName" : "dummyFlow",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "dummyFlow",
              "sensitive" : false
            },
            "bucketName" : {
              "displayName" : "bucketName",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "bucketName",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "bucketDesc" : {
              "displayName" : "bucketDesc",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "bucketDesc",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "flowName" : {
              "displayName" : "flowName",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "flowName",
              "sensitive" : false
            },
            "git_dir" : {
              "displayName" : "git_dir",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "git_dir",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cbc6dc64-e485-335c-be96-dc7ba2986188",
          "identifier" : "960bd3b0-0195-1000-1bc2-86e708b23df0",
          "instanceIdentifier" : "f492125c-d25d-3e54-d1f3-9bce0bf34e60",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Create Directory Bucket Name",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 984.0,
            "y" : -440.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Working Directory" : "/c/Users/Dafni/Documents/Apache_Nifi/nifi-toolkit-2.2.0/bin",
            "Command Path" : "C:\\Program Files\\Git\\bin\\bash.exe",
            "Argument Delimiter" : " ",
            "Ignore STDIN" : "false",
            "Command Arguments" : "-c \"mkdir -p ${git_dir}/${bucketName}\""
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Output MIME Type" : {
              "displayName" : "Output MIME Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output MIME Type",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}